openapi: 3.2.0
info:
  title: Trello Boards API
  version: '1.0'
  description: 'Operations tagged Boards across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Boards
  description: Operations for creating, retrieving, updating, and deleting boards, as well as managing board memberships, lists, cards, labels, and other board-level resources.
paths:
  /boards:
    post:
      operationId: createBoard
      summary: Create a Board
      description: Creates a new Trello board with the specified name and optional settings such as description, organization, permission level, and initial configuration.
      tags:
      - Boards
      parameters:
      - name: name
        in: query
        required: true
        description: The name for the new board.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: defaultLabels
        in: query
        description: Whether to apply the default set of labels to the board.
        schema:
          type: boolean
          default: true
      - name: defaultLists
        in: query
        description: Whether to add the default set of lists to the board.
        schema:
          type: boolean
          default: true
      - name: desc
        in: query
        description: A description for the board.
        schema:
          type: string
          maxLength: 16384
      - name: idOrganization
        in: query
        description: The ID or name of the organization (workspace) the board should belong to.
        schema:
          type: string
      - name: idBoardSource
        in: query
        description: The ID of a board to copy into the new board.
        schema:
          type: string
      - name: prefs_permissionLevel
        in: query
        description: The permissions level of the board.
        schema:
          type: string
          enum:
          - org
          - private
          - public
          default: private
      - name: prefs_voting
        in: query
        description: Who can vote on the board.
        schema:
          type: string
          enum:
          - disabled
          - members
          - observers
          - org
          - public
          default: disabled
      - name: prefs_comments
        in: query
        description: Who can comment on cards on the board.
        schema:
          type: string
          enum:
          - disabled
          - members
          - observers
          - org
          - public
          default: members
      - name: prefs_background
        in: query
        description: The background color or image for the board.
        schema:
          type: string
          default: blue
      - name: prefs_cardAging
        in: query
        description: The style of card aging to apply to the board.
        schema:
          type: string
          enum:
          - pirate
          - regular
          default: regular
      - name: prefs_selfJoin
        in: query
        description: Whether workspace members can join the board themselves.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Successfully created the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '400':
          description: Bad request. Missing required parameters.
        '401':
          description: Unauthorized.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}:
    get:
      operationId: getBoard
      summary: Get a Board
      description: Retrieves a single board by its identifier, including its fields and optionally nested resources.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: actions
        in: query
        description: A comma-separated list of action types to include.
        schema:
          type: string
      - name: boardStars
        in: query
        description: Whether to include board stars.
        schema:
          type: string
          enum:
          - mine
          - none
      - name: cards
        in: query
        description: Filter cards to include.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          - visible
          default: none
      - name: card_fields
        in: query
        description: A comma-separated list of card fields to include.
        schema:
          type: string
      - name: checklists
        in: query
        description: Whether to include checklists.
        schema:
          type: string
          enum:
          - all
          - none
          default: none
      - name: fields
        in: query
        description: A comma-separated list of board fields to include.
        schema:
          type: string
          default: name,desc,descData,closed,idOrganization,pinned,url,shortUrl,prefs,labelNames
      - name: labels
        in: query
        description: Whether to include labels.
        schema:
          type: string
          enum:
          - all
          - none
      - name: lists
        in: query
        description: Filter lists to include.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          default: none
      - name: members
        in: query
        description: Whether to include members.
        schema:
          type: string
          enum:
          - admins
          - all
          - none
          - normal
          - owners
          default: none
      - name: memberships
        in: query
        description: Whether to include memberships.
        schema:
          type: string
      - name: organization
        in: query
        description: Whether to include the organization.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully retrieved the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updateBoard
      summary: Update a Board
      description: Updates a board's fields, including name, description, preferences, and organizational settings.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        description: The new name for the board.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: desc
        in: query
        description: The new description for the board.
        schema:
          type: string
          maxLength: 16384
      - name: closed
        in: query
        description: Whether the board is closed (archived).
        schema:
          type: boolean
      - name: subscribed
        in: query
        description: Whether the authenticated member is subscribed to the board.
        schema:
          type: boolean
      - name: idOrganization
        in: query
        description: The ID of the organization to move the board to.
        schema:
          type: string
      - name: prefs/permissionLevel
        in: query
        description: The permission level for the board.
        schema:
          type: string
          enum:
          - org
          - private
          - public
      - name: prefs/selfJoin
        in: query
        description: Whether workspace members can join the board themselves.
        schema:
          type: boolean
      - name: prefs/cardCovers
        in: query
        description: Whether card covers are enabled.
        schema:
          type: boolean
      - name: prefs/hideVotes
        in: query
        description: Whether votes are hidden until voting is complete.
        schema:
          type: boolean
      - name: prefs/background
        in: query
        description: The background for the board.
        schema:
          type: string
      - name: prefs/cardAging
        in: query
        description: The card aging style.
        schema:
          type: string
          enum:
          - pirate
          - regular
      - name: labelNames/green
        in: query
        description: Name for the green label.
        schema:
          type: string
      - name: labelNames/yellow
        in: query
        description: Name for the yellow label.
        schema:
          type: string
      - name: labelNames/orange
        in: query
        description: Name for the orange label.
        schema:
          type: string
      - name: labelNames/red
        in: query
        description: Name for the red label.
        schema:
          type: string
      - name: labelNames/purple
        in: query
        description: Name for the purple label.
        schema:
          type: string
      - name: labelNames/blue
        in: query
        description: Name for the blue label.
        schema:
          type: string
      responses:
        '200':
          description: Successfully updated the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    delete:
      operationId: deleteBoard
      summary: Delete a Board
      description: Permanently deletes a board. This action cannot be undone.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully deleted the board.
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: ''
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/actions:
    get:
      operationId: getBoardActions
      summary: Get Actions for a Board
      description: Retrieves a list of actions (activity events) associated with a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: A comma-separated list of action types to filter by.
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of actions to return.
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 50
      responses:
        '200':
          description: Successfully retrieved board actions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Action'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/cards:
    get:
      operationId: getBoardCards
      summary: Get Cards on a Board
      description: Retrieves all cards on a board, with optional filtering.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: fields
        in: query
        description: A comma-separated list of card fields to return.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved board cards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/cards/{filter}:
    get:
      operationId: getBoardCardsFilter
      summary: Get Filtered Cards on a Board
      description: Retrieves cards on a board filtered by status.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: path
        required: true
        description: The filter to apply to the cards.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          - visible
      responses:
        '200':
          description: Successfully retrieved filtered board cards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/checklists:
    get:
      operationId: getBoardChecklists
      summary: Get Checklists on a Board
      description: Retrieves all checklists on a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved board checklists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Checklist'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/labels:
    get:
      operationId: getBoardLabels
      summary: Get Labels on a Board
      description: Retrieves all labels defined on a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: fields
        in: query
        description: A comma-separated list of label fields to return.
        schema:
          type: string
          default: all
      - name: limit
        in: query
        description: Maximum number of labels to return.
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 50
      responses:
        '200':
          description: Successfully retrieved board labels.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Label'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: createBoardLabel
      summary: Create a Label on a Board
      description: Creates a new label on a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        required: true
        description: The name for the label.
        schema:
          type: string
      - name: color
        in: query
        required: true
        description: The color for the label.
        schema:
          type: string
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - 'null'
      responses:
        '200':
          description: Successfully created the label.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: Bad request. Missing required parameters.
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/lists:
    get:
      operationId: getBoardLists
      summary: Get Lists on a Board
      description: Retrieves all lists on a board, with optional filtering.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: cards
        in: query
        description: Filter cards within lists.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          default: none
      - name: card_fields
        in: query
        description: A comma-separated list of card fields to return.
        schema:
          type: string
          default: all
      - name: filter
        in: query
        description: Filter lists by status.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          default: open
      - name: fields
        in: query
        description: A comma-separated list of list fields to return.
        schema:
          type: string
          default: all
      responses:
        '200':
          description: Successfully retrieved board lists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrelloList'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: createBoardList
      summary: Create a List on a Board
      description: Creates a new list on the specified board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        required: true
        description: The name for the new list.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: pos
        in: query
        description: The position of the list on the board.
        schema:
          type: string
          default: top
      responses:
        '200':
          description: Successfully created the list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrelloList'
        '400':
          description: Bad request. Missing required parameters.
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/members:
    get:
      operationId: getBoardMembers
      summary: Get Members of a Board
      description: Retrieves the members associated with a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved board members.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: inviteBoardMember
      summary: Invite a Member to a Board
      description: Invites a member to a board via email.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: email
        in: query
        required: true
        description: The email address of the member to invite.
        schema:
          type: string
          format: email
      - name: type
        in: query
        description: The type of membership.
        schema:
          type: string
          enum:
          - admin
          - normal
          - observer
          default: normal
      responses:
        '200':
          description: Successfully invited the member.
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/members/{idMember}:
    put:
      operationId: updateBoardMember
      summary: Update a Board Member
      description: Updates the membership type for a member on a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: idMember
        in: path
        required: true
        description: The ID of the member to update.
        schema:
          type: string
      - name: type
        in: query
        required: true
        description: The new membership type.
        schema:
          type: string
          enum:
          - admin
          - normal
          - observer
      responses:
        '200':
          description: Successfully updated the board member.
        '401':
          description: Unauthorized.
        '404':
          description: Board or member not found.
      security:
      - apiKey: []
        apiToken: []
    delete:
      operationId: removeBoardMember
      summary: Remove a Member from a Board
      description: Removes a member from a board.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: idMember
        in: path
        required: true
        description: The ID of the member to remove.
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed the member.
        '401':
          description: Unauthorized.
        '404':
          description: Board or member not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The id of the board to update
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idMember
      in: path
      description: The id of the member to add to the board.
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/memberships:
    get:
      operationId: getBoardMemberships
      summary: Get Memberships of a Board
      description: Retrieves the membership records for a board, including membership type and member references.
      tags:
      - Boards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: Filter memberships by type.
        schema:
          type: string
          default: all
      responses:
        '200':
          description: Successfully retrieved board memberships.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
        '401':
          description: Unauthorized.
        '404':
          description: Board not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /boards/{id}/{field}:
    get:
      tags:
      - Boards
      summary: Get a field on a Board
      description: Get a single, specific field on a board
      operationId: get-boards-id-field
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the board.
        required: true
        schema:
          type: string
      - name: field
        in: path
        description: 'The field you''d like to receive. Valid values: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url.'
        required: true
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{boardId}/actions:
    get:
      tags:
      - Boards
      summary: Get Actions of a Board
      description: Get all of the actions of a Board. See Nested Resources for more information.
      operationId: get-boards-id-actions
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: boardId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The fields to be returned for the Actions. [See Action fields here](/cloud/trello/guides/rest-api/object-definitions/#action-object).
        required: false
        schema:
          $ref: '#/components/schemas/Action_2'
      - name: filter
        in: query
        description: A comma-separated list of [action types](/cloud/trello/guides/rest-api/action-types/).
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: The format of the returned Actions. Either list or count.
        required: false
        schema:
          type: string
          default: list
      - name: idModels
        in: query
        description: A comma-separated list of idModels. Only actions related to these models will be returned.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: The limit of the number of responses, between 0 and 1000.
        required: false
        schema:
          type: number
          default: 50
      - name: member
        in: query
        description: Whether to return the member object for each action.
        required: false
        schema:
          type: boolean
          default: true
      - name: member_fields
        in: query
        description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) to return.
        required: false
        schema:
          type: string
          default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
      - name: memberCreator
        in: query
        description: Whether to return the memberCreator object for each action.
        required: false
        schema:
          type: boolean
          default: true
      - name: memberCreator_fields
        in: query
        description: The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) creator to return
        required: false
        schema:
          type: string
          default: activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username
      - name: page
        in: query
        description: The page of results for actions.
        required: false
        schema:
          type: number
          default: 0
      - name: reactions
        in: query
        description: Whether to show reactions on comments or not.
        required: false
        schema:
          type: boolean
      - name: before
        in: query
        description: A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created before this date will be returned.
        required: false
        schema:
          type: string
      - name: since
        in: query
        description: A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created since this date will be returned.
        required: false
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{boardId}/boardStars:
    get:
      tags:
      - Boards
      summary: Get boardStars on a Board
      description: ''
      operationId: get-boards-id-boardstars
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: boardId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'Valid values: mine, none'
        required: false
        schema:
          type: string
          default: mine
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/BoardStars'
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/customFields:
    get:
      tags:
      - Boards
      summary: Get Custom Fields for Board
      description: Get the Custom Field Definitions that exist on a board.
      operationId: get-boards-id-customfields
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the board
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/lists/{filter}:
    get:
      tags:
      - Boards
      summary: Get filtered Lists on a Board
      description: ''
      operationId: get-boards-id-lists-filter
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the board
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: filter
        in: path
        description: One of `all`, `closed`, `none`, `open`
        required: true
        schema:
          $ref: '#/components/schemas/ViewFilter'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/memberships/{idMembership}:
    put:
      tags:
      - Boards
      summary: Update Membership of Member on a Board
      description: Update an existing board by id
      operationId: put-boards-id-memberships-idmembership
      security:
      - OAuth2:
        - write:board:membership:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idMembership
        in: path
        description: The id of a membership that should be added to this board.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: type
        in: query
        description: 'One of: admin, normal, observer. Determines the type of member that this membership will be to this board.'
        required: true
        schema:
          type: string
          enum:
          - admin
          - normal
          - observer
      - name: member_fields
        in: query
        description: 'Valid values: all, avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url, username'
        required: false
        explode: false
        style: form
        schema:
          type: string
          default: fullName, username
          enum:
          - all
          - avatarHash
          - bio
          - bioData
          - confirmed
          - fullName
          - idPremOrgsAdmin
          - initials
          - memberType
          - products
          - status
          - url
          - username
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/emailPosition:
    put:
      tags:
      - Boards
      summary: Update emailPosition Pref on a Board
      operationId: put-boards-id-myprefs-emailposition
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: 'Valid values: bottom, top. Determines the position of the email address.'
        required: true
        schema:
          type: string
          enum:
          - bottom
          - top
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/idEmailList:
    put:
      tags:
      - Boards
      summary: Update idEmailList Pref on a Board
      description: Change the default list that email-to-board cards are created in.
      operationId: put-boards-id-myprefs-idemaillist
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The id of an email list.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/showSidebar:
    put:
      tags:
      - Boards
      summary: Update showSidebar Pref on a Board
      operationId: put-boards-id-myPrefs-showsidebar
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: Determines whether to show the side bar.
        required: true
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/showSidebarActivity:
    put:
      tags:
      - Boards
      summary: Update showSidebarActivity Pref on a Board
      operationId: put-boards-id-myPrefs-showsidebaractivity
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: Determines whether to show sidebar activity.
        required: true
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/showSidebarBoardActions:
    put:
      tags:
      - Boards
      summary: Update showSidebarBoardActions Pref on a Board
      operationId: put-boards-id-myPrefs-showsidebarboardactions
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: Determines whether to show the sidebar board actions.
        required: true
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/myPrefs/showSidebarMembers:
    put:
      tags:
      - Boards
      summary: Update showSidebarMembers Pref on a Board
      operationId: put-boards-id-myPrefs-showsidebarmembers
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: Determines whether to show members of the board in the sidebar.
        required: true
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/:
    post:
      tags:
      - Boards
      summary: Create a Board
      description: Create a new board.
      operationId: post-boards
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: name
        in: query
        description: The new name for the board. 1 to 16384 characters long.
        required: true
        schema:
          type: string
          maxLength: 16384
          minLength: 1
      - name: defaultLabels
        in: query
        description: Determines whether to use the default set of labels.
        required: false
        schema:
          type: boolean
          default: true
      - name: defaultLists
        in: query
        description: Determines whether to add the default set of lists to a board (To Do, Doing, Done). It is ignored if `idBoardSource` is provided.
        required: false
        schema:
          type: boolean
          default: true
      - name: desc
        in: query
        description: A new description for the board, 0 to 16384 characters long
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 16384
      - name: idOrganization
        in: query
        description: The id or name of the Workspace the board should belong to.
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idBoardSource
        in: query
        description: The id of a board to copy into the new board.
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: keepFromSource
        in: query
        description: To keep cards from the original board pass in the value `cards`
        required: false
        schema:
          type: string
          default: none
          enum:
          - cards
          - none
      - name: powerUps
        in: query
        description: 'The Power-Ups that should be enabled on the new board. One of: `all`, `calendar`, `cardAging`, `recap`, `voting`.'
        required: false
        schema:
          type: string
          enum:
          - all
          - calendar
          - cardAging
          - recap
          - voting
      - name: prefs_permissionLevel
        in: query
        description: 'The permissions level of the board. One of: `org`, `private`, `public`.'
        required: false
        schema:
          type: string
          default: private
          enum:
          - org
          - private
          - public
      - name: prefs_voting
        in: query
        description: Who can vote on this board. One of `disabled`, `members`, `observers`, `org`, `public`.
        required: false
        schema:
          type: string
          default: disabled
          enum:
          - disabled
          - members
          - observers
          - org
          - public
      - name: prefs_comments
        in: query
        description: 'Who can comment on cards on this board. One of: `disabled`, `members`, `observers`, `org`, `public`.'
        required: false
        schema:
          type: string
          default: members
          enum:
          - disabled
          - members
          - observers
          - org
          - public
      - name: prefs_invitations
        in: query
        description: 'Determines what types of members can invite users to join. One of: `admins`, `members`.'
        required: false
        schema:
          type: string
          default: members
          enum:
          - members
          - admins
      - name: prefs_selfJoin
        in: query
        description: Determines whether users can join the boards themselves or whether they have to be invited.
        required: false
        schema:
          type: boolean
          default: true
      - name: prefs_cardCovers
        in: query
        description: Determines whether card covers are enabled.
        required: false
        schema:
          type: boolean
          default: true
      - name: prefs_background
        in: query
        description: 'The id of a custom background or one of: `blue`, `orange`, `green`, `red`, `purple`, `pink`, `lime`, `sky`, `grey`.'
        required: false
        schema:
          type: string
          default: blue
          enum:
          - blue
          - orange
          - green
          - red
          - purple
          - pink
          - lime
          - sky
          - grey
      - name: prefs_cardAging
        in: query
        description: 'Determines the type of card aging that should take place on the board if card aging is enabled. One of: `pirate`, `regular`.'
        required: false
        schema:
          type: string
          default: regular
          enum:
          - pirate
          - regular
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/calendarKey/generate:
    post:
      tags:
      - Boards
      summary: Create a calendarKey for a Board
      description: Create a new board.
      operationId: post-boards-id-calendarkey-generate
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/emailKey/generate:
    post:
      tags:
      - Boards
      summary: Create a emailKey for a Board
      description: ''
      operationId: post-boards-id-emailkey-generate
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/idTags:
    post:
      tags:
      - Boards
      summary: Create a Tag for a Board
      operationId: post-boards-id-idtags
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The id of a tag from the organization to which this board belongs.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/markAsViewed:
    post:
      tags:
      - Boards
      summary: Mark Board as viewed
      description: ''
      operationId: post-boards-id-markedasviewed
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the board to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/boardPlugins:
    parameters:
    - name: id
      in: path
      description: The ID of the Board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Boards
      summary: Get Enabled Power-Ups on Board
      description: Get the enabled Power-Ups on a board
      operationId: get-boards-id-boardplugins
      security:
      - OAuth2:
        - read:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plugin'
    post:
      tags:
      - Boards
      summary: Enable a Power-Up on a Board
      operationId: post-boards-id-boardplugins
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: idPlugin
        in: query
        description: The ID of the Power-Up to enable
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: true
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/boardPlugins/{idPlugin}:
    delete:
      tags:
      - Boards
      summary: Disable a Power-Up on a Board
      description: Disable a Power-Up on a board
      operationId: delete-boards-id-boardplugins
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the board
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idPlugin
        in: path
        description: The ID of the Power-Up to disable
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: true
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/plugins:
    get:
      tags:
      - Boards
      summary: Get Power-Ups on a Board
      description: List the Power-Ups on a board
      operationId: get-board-id-plugins
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the board
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: filter
        in: query
        description: 'One of: `enabled` or `available`'
        required: false
        schema:
          type: string
          default: enabled
          enum:
          - enabled
          - available
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/exports:
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    post:
      tags:
      - Boards
      summary: Create an Export for a Board
      description: Kick off an export of a board. Only one export may be in progress for a board at a time.
      operationId: post-boards-id-exports
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: attachments
        in: query
        description: Whether the export should include attachments
        required: false
        schema:
          type: boolean
          default: false
      - name: attachment_age
        in: query
        description: Only include attachments created within this many days. `0` means no limit.
        required: false
        schema:
          type: number
          minimum: 0
          maximum: 3650
          default: 0
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/exports/{idExport}:
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idExport
      in: path
      description: The ID of the export
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Boards
      summary: Get an Export for a Board
      description: Get the status of a board export
      operationId: get-boards-id-exports-idexport
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
    delete:
      tags:
      - Boards
      summary: Delete an Export for a Board
      description: Soft-delete a board export
      operationId: delete-boards-id-exports-idexport
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/exports/{idExport}/download:
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idExport
      in: path
      description: The ID of the export
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Boards
      summary: Download an Export for a Board
      description: Download the exported file. Redirects to the file location if the export is ready, or errors if it is not.
      operationId: get-boards-id-exports-idexport-download
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '302':
          description: Redirects to the export file's download location
        '400':
          description: Export is not ready for download
    servers:
    - url: https://api.trello.com/1
  /boards/{id}/exports/mostRecent:
    parameters:
    - name: id
      in: path
      description: The ID of the board
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Boards
      summary: Get a Board's Most Recent Export
      description: Get the most recent successful export for a board
      operationId: get-boards-id-exports-mostrecent
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        '404':
          description: Board has no export, or is not in a Workspace
    servers:
    - url: https://api.trello.com/1
components:
  schemas:
    TrelloList:
      type: object
      description: Represents a list on a Trello board. Lists are vertical columns that contain cards and represent stages in a workflow.
      properties:
        id:
          type: string
          description: The unique identifier for the list.
        name:
          type: string
          description: The name of the list.
        closed:
          type: boolean
          description: Whether the list is closed (archived).
        idBoard:
          type: string
          description: The ID of the board the list belongs to.
        pos:
          type: number
          description: The position of the list on the board.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the list.
        softLimit:
          type: string
          description: A soft limit for the number of cards in the list.
    Membership:
      type: object
      description: Represents a membership record linking a member to a board or organization with a specific role.
      properties:
        id:
          type: string
          description: The unique identifier for the membership.
        idMember:
          type: string
          description: The ID of the member.
        memberType:
          type: string
          description: The type of membership.
          enum:
          - admin
          - normal
          - observer
        unconfirmed:
          type: boolean
          description: Whether the membership is unconfirmed.
        deactivated:
          type: boolean
          description: Whether the membership is deactivated.
    Member:
      type: object
      description: Represents a Trello user who can be a member of boards, organizations, and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the member.
        username:
          type: string
          description: The username of the member.
        fullName:
          type: string
          description: The full name of the member.
        initials:
          type: string
          description: The initials of the member.
        bio:
          type: string
          description: The biography of the member.
        avatarHash:
          type: string
          description: The hash of the member's avatar image.
        avatarUrl:
          type: string
          format: uri
          description: The URL of the member's avatar image.
        url:
          type: string
          format: uri
          description: The URL of the member's Trello profile.
        confirmed:
          type: boolean
          description: Whether the member's email has been confirmed.
        memberType:
          type: string
          description: The type of member account.
        status:
          type: string
          description: The activity status of the member.
        idOrganizations:
          type: array
          description: The IDs of organizations the member belongs to.
          items:
            type: string
        idBoards:
          type: array
          description: The IDs of boards the member has access to.
          items:
            type: string
    Action:
      type: object
      description: Represents an activity event that occurred on a Trello object, such as creating a card, adding a comment, or moving a card between lists.
      properties:
        id:
          type: string
          description: The unique identifier for the action.
        idMemberCreator:
          type: string
          description: The ID of the member who performed the action.
        type:
          type: string
          description: The type of action that was performed.
        date:
          type: string
          format: date-time
          description: The date and time the action was performed.
        data:
          type: object
          description: Context data about the action, including references to the objects involved.
          properties:
            text:
              type: string
              description: The text content of the action, if applicable.
            board:
              type: object
              description: Reference to the board involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                shortLink:
                  type: string
            card:
              type: object
              description: Reference to the card involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                idShort:
                  type: integer
                shortLink:
                  type: string
            list:
              type: object
              description: Reference to the list involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
            old:
              type: object
              description: The previous values of fields that were changed.
        display:
          type: object
          description: Display information for rendering the action.
        memberCreator:
          $ref: '#/components/schemas/Member'
    Board:
      type: object
      description: Represents a Trello board, which is the primary organizational unit containing lists and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the board.
        name:
          type: string
          description: The name of the board.
        desc:
          type: string
          description: The description of the board.
        descData:
          type: object
          description: Additional description data.
        closed:
          type: boolean
          description: Whether the board is closed (archived).
        idMemberCreator:
          type: string
          description: The ID of the member who created the board.
        idOrganization:
          type: string
          description: The ID of the organization the board belongs to.
        pinned:
          type: boolean
          description: Whether the board is pinned.
        url:
          type: string
          format: uri
          description: The full URL of the board.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the board.
        shortLink:
          type: string
          description: The short link identifier for the board.
        prefs:
          type: object
          description: Board preferences and settings.
          properties:
            permissionLevel:
              type: string
              enum:
              - org
              - private
              - public
            hideVotes:
              type: boolean
            voting:
              type: string
            comments:
              type: string
            selfJoin:
              type: boolean
            cardCovers:
              type: boolean
            cardAging:
              type: string
              enum:
              - pirate
              - regular
            background:
              type: string
            backgroundColor:
              type: string
            backgroundImage:
              type: string
            backgroundTile:
              type: boolean
            backgroundBrightness:
              type: string
        labelNames:
          type: object
          description: The names assigned to each label color on the board.
          properties:
            green:
              type: string
            yellow:
              type: string
            orange:
              type: string
            red:
              type: string
            purple:
              type: string
            blue:
              type: string
            sky:
              type: string
            lime:
              type: string
            pink:
              type: string
            black:
              type: string
        starred:
          type: boolean
          description: Whether the authenticated member has starred the board.
        memberships:
          type: array
          description: The board's membership records.
          items:
            $ref: '#/components/schemas/Membership'
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the board.
        dateLastView:
          type: string
          format: date-time
          description: The date and time the authenticated member last viewed the board.
    Checklist:
      type: object
      description: Represents a checklist on a card, containing a list of check items that can be marked as complete or incomplete.
      properties:
        id:
          type: string
          description: The unique identifier for the checklist.
        name:
          type: string
          description: The name of the checklist.
        idBoard:
          type: string
          description: The ID of the board the checklist belongs to.
        idCard:
          type: string
          description: The ID of the card the checklist is on.
        pos:
          type: number
          description: The position of the checklist on the card.
        checkItems:
          type: array
          description: The check items in the checklist.
          items:
            $ref: '#/components/schemas/CheckItem'
    CheckItem:
      type: object
      description: Represents a single item in a checklist that can be checked or unchecked.
      properties:
        id:
          type: string
          description: The unique identifier for the check item.
        name:
          type: string
          description: The name of the check item.
        state:
          type: string
          description: The completion state of the check item.
          enum:
          - complete
          - incomplete
        idChecklist:
          type: string
          description: The ID of the checklist the check item belongs to.
        pos:
          type: number
          description: The position of the check item in the checklist.
        due:
          type: string
          format: date-time
          description: The due date for the check item.
        idMember:
          type: string
          description: The ID of the member assigned to the check item.
    Card:
      type: object
      description: Represents a Trello card, which is the fundamental unit of work on a board. Cards live within lists and can have members, labels, checklists, attachments, due dates, and comments.
      properties:
        id:
          type: string
          description: The unique identifier for the card.
        name:
          type: string
          description: The name (title) of the card.
        desc:
          type: string
          description: The description of the card in Markdown.
        closed:
          type: boolean
          description: Whether the card is archived.
        idBoard:
          type: string
          description: The ID of the board the card is on.
        idList:
          type: string
          description: The ID of the list the card is in.
        idShort:
          type: integer
          description: The short numeric identifier for the card within its board.
        idMembers:
          type: array
          description: The IDs of members assigned to the card.
          items:
            type: string
        idLabels:
          type: array
          description: The IDs of labels on the card.
          items:
            type: string
        idChecklists:
          type: array
          description: The IDs of checklists on the card.
          items:
            type: string
        idAttachmentCover:
          type: string
          description: The ID of the attachment used as the card cover.
        pos:
          type: number
          description: The position of the card in its list.
        due:
          type: string
          format: date-time
          description: The due date for the card.
        dueComplete:
          type: boolean
          description: Whether the due date has been marked as complete.
        start:
          type: string
          format: date-time
          description: The start date for the card.
        url:
          type: string
          format: uri
          description: The full URL of the card.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the card.
        shortLink:
          type: string
          description: The short link identifier for the card.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the card.
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the card.
        cover:
          type: object
          description: The card's cover image settings.
          properties:
            idAttachment:
              type: string
            color:
              type: string
            idUploadedBackground:
              type: string
            size:
              type: string
              enum:
              - normal
              - full
            brightness:
              type: string
            idPlugin:
              type: string
        labels:
          type: array
          description: The labels on the card.
          items:
            $ref: '#/components/schemas/Label'
        badges:
          type: object
          description: Badge counts and indicators for the card.
          properties:
            votes:
              type: integer
            attachments:
              type: integer
            comments:
              type: integer
            checkItems:
              type: integer
            checkItemsChecked:
              type: integer
            description:
              type: boolean
            due:
              type: string
              format: date-time
            dueComplete:
              type: boolean
            subscribed:
              type: boolean
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    ViewFilter:
      type: string
      enum:
      - all
      - closed
      - none
      - open
    MemberFields:
      type: string
      enum:
      - id
    LimitsObject:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - warning
        disableAt:
          type: number
          example: 36000
        warnAt:
          type: number
          example: 32400
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    Export:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5dced8665015383ed5ca248c
        status:
          type: object
          properties:
            attempts:
              type: number
              example: 0
            finished:
              type: boolean
              example: false
            stage:
              type: string
              example: Export_queued
        startedAt:
          type: string
          format: date-time
          example: '2019-11-15T16:55:02.000Z'
        size:
          type:
          - string
          - 'null'
          example: null
        exportUrl:
          type:
          - string
          - 'null'
          example: null
    Board_2:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the board.
          example: Trello Platform Changes
        desc:
          type: string
          example: Track changes to Trello's Platform on this board.
        descData:
          type: string
        closed:
          type: boolean
          example: false
        idMemberCreator:
          $ref: '#/components/schemas/TrelloID'
        idOrganization:
          $ref: '#/components/schemas/TrelloID'
        pinned:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ/trello-platform-changelog
        shortUrl:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ
        prefs:
          $ref: '#/components/schemas/Prefs'
        labelNames:
          type: object
          properties:
            green:
              type: string
              example: Addition
            yellow:
              type: string
              example: Update
            orange:
              type: string
              example: Deprecation
            red:
              type: string
              example: Deletion
            purple:
              type: string
              example: Power-Ups
            blue:
              type: string
              example: News
            sky:
              type: string
              example: Announcement
            lime:
              type: string
              example: Delight
            pink:
              type: string
              example: REST API
            black:
              type: string
              example: Capabilties
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        starred:
          type: boolean
        memberships:
          type: string
        shortLink:
          type: string
        subscribed:
          type: boolean
        powerUps:
          type: string
        dateLastActivity:
          type: string
          format: date
        dateLastView:
          type: string
          format: date
        idTags:
          type: string
        datePluginDisable:
          type:
          - string
          - 'null'
          format: date
        creationMethod:
          type:
          - string
          - 'null'
        ixUpdate:
          type: integer
        templateGallery:
          type:
          - string
          - 'null'
        enterpriseOwned:
          type: boolean
    Memberships:
      type: object
      description: ''
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
    TrelloList_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the list
          example: Things to buy today
        closed:
          type: boolean
        pos:
          type: number
        softLimit:
          type: string
        idBoard:
          type: string
        subscribed:
          type: boolean
        limits:
          $ref: '#/components/schemas/Limits'
    CardAging:
      type: string
      enum:
      - pirate
      - regular
    BoardStars:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 585063850027165010be15a8
        idBoard:
          $ref: '#/components/schemas/TrelloID'
          example: 57f7df684f1ca8c2877162e0
        pos:
          type: integer
          example: 32768
    CustomField:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5ab10be237846c43015f108e
        idModel:
          type: string
          example: 586e8f681d4fe9b06a928307
        modelType:
          type: string
          enum:
          - card
          - board
          - member
          example: board
        fieldGroup:
          type: string
          example: f6177ba6839d6fff0f73922c1cea105e793fda8a1433d466104dacc0b7c56955
        display:
          type: object
          properties:
            cardFront:
              type: boolean
              example: true
            name:
              type: string
              example: Priority 🏔
            pos:
              type: string
              example: 98304,
            options:
              type: array
              items:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/TrelloID'
                    example: 5ab10be237846c43015f1091
                  idCustomField:
                    $ref: '#/components/schemas/TrelloID'
                    example: 5ab10be237846c43015f108e
                  value:
                    type: object
                    properties:
                      text:
                        type: string
                        example: High
                  color:
                    type: string
                    example: red
                  pos:
                    type: number
                    example: 16384
        type:
          type: string
          example: list
    Plugin:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    Limits:
      type: object
      properties:
        attachments:
          type: object
          properties:
            perBoard:
              type: object
              $ref: '#/components/schemas/LimitsObject'
    Action_2:
      type: object
      properties:
        id:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idMemberCreator:
          type: string
          $ref: '#/components/schemas/TrelloID'
        data:
          type: object
          properties:
            text:
              type: string
              example: Can never go wrong with bowie
            card:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Bowie
                idShort:
                  type: integer
                  example: 7
                shortLink:
                  type: string
                  example: 3CsPkqOF
            board:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Mullets
                shortLink:
                  type: string
                  example: 3CsPkqOF
            list:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Amazing
        type:
          type: string
          example: commentCard
        date:
          type: string
          format: date-time
          example: '2020-03-09T19:41:51.396Z'
        limits:
          type: object
          properties:
            reactions:
              type: object
              properties:
                perAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
                uniquePerAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
        display:
          type: object
          properties:
            translationKey:
              type: string
              example: action_comment_on_card
            entities:
              type: object
              properties:
                contextOn:
                  type: object
                  properties:
                    type:
                      type: string
                      example: translatable
                    translationKey:
                      type: string
                      example: action_on
                    hideIfContext:
                      type: boolean
                    idContext:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                card:
                  type: object
                  properties:
                    type:
                      type: string
                      example: card
                    hideIfContext:
                      type: boolean
                    id:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                    shortLink:
                      type: string
                      example: 3CsPkqOF
                    text:
                      type: string
                      example: Bowie
                comment:
                  type: object
                  properties:
                    type:
                      type: string
                      example: comment
                    text:
                      type: string
                      example: Can never go wrong with bowie
                memberCreator:
                  type: object
                  properties:
                    type:
                      type: string
                      example: member
                    id:
                      $ref: '#/components/schemas/TrelloID'
                    username:
                      type: string
                      example: bobloblaw
                    text:
                      type: string
                      example: Bob Loblaw (World)
        memberCreator:
          type: object
          properties:
            id:
              type: string
              $ref: '#/components/schemas/TrelloID'
              example: 5b02e7f4e1facdc393169f9d
            activityBlocked:
              type: boolean
              example: false
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
            fullName:
              type: string
              example: Bob Loblaw (Trello)
            idMemberReferrer:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
              example: null
            initials:
              type: string
              example: BL
            username:
              type: string
              example: bobloblaw
    Prefs:
      type: object
      properties:
        permissionLevel:
          type: string
          enum:
          - org
          - board
        hideVotes:
          type: boolean
        voting:
          type: string
          enum:
          - disabled
          - enabled
        comments:
          type: string
        invitations:
          enum:
          - admins
          - members
        selfJoin:
          type: boolean
        cardCovers:
          type: boolean
        isTemplate:
          type: boolean
        cardAging:
          $ref: '#/components/schemas/CardAging'
        calendarFeedEnabled:
          type: boolean
        background:
          $ref: '#/components/schemas/TrelloID'
        backgroundImage:
          type: string
          format: uri
        backgroundImageScaled:
          type: array
          items:
            $ref: '#/components/schemas/ImageDescriptor'
        backgroundTile:
          type: boolean
        backgroundBrightness:
          type: string
          example: dark
        backgroundBottomColor:
          type: string
          example: '#1e2e00'
        backgroundTopColor:
          type: string
          example: '#ffffff'
        canBePublic:
          type: boolean
        canBeEnterprise:
          type: boolean
        canBeOrg:
          type: boolean
        canBePrivate:
          type: boolean
        canInvite:
          type: boolean
    ImageDescriptor:
      type: object
      properties:
        width:
          description: The width of the image.
          type: integer
          example: 100
        height:
          description: The height of the image.
          type: integer
          example: 64
        url:
          description: The URL of the image.
          format: url
          type: string
          example: https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg
    Label_2:
      type: object
      properties:
        id:
          description: The ID of the label.
          type: string
          $ref: '#/components/schemas/TrelloID'
        idBoard:
          type: string
          description: The ID of the board the label is on.
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        name:
          type:
          - string
          - 'null'
          description: The name displayed for the label.
          example: Overdue
          minLength: 0
          maxLength: 16384
        color:
          type: string
          $ref: '#/components/schemas/Color'
          description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
