openapi: 3.2.0
info:
  title: Trello Members API
  version: '1.0'
  description: 'Operations tagged Members across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Members
  description: Operations for retrieving and updating member profiles, boards, organizations, and notification settings.
paths:
  /members/{id}:
    get:
      operationId: getMember
      summary: Get a Member
      description: Retrieves a member by their identifier or username.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: actions
        in: query
        description: A comma-separated list of action types to include.
        schema:
          type: string
      - name: boards
        in: query
        description: Filter boards to include.
        schema:
          type: string
          enum:
          - all
          - closed
          - members
          - none
          - open
          - organization
          - public
          - starred
          default: none
      - name: organizations
        in: query
        description: Filter organizations to include.
        schema:
          type: string
          enum:
          - all
          - members
          - none
          - public
          default: none
      - name: fields
        in: query
        description: A comma-separated list of member fields to return.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved the member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
        '404':
          description: Member not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updateMember
      summary: Update a Member
      description: Updates a member's profile fields such as full name, initials, and bio.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: fullName
        in: query
        description: The new full name for the member.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: initials
        in: query
        description: The new initials for the member.
        schema:
          type: string
          minLength: 1
          maxLength: 4
      - name: bio
        in: query
        description: The new bio for the member.
        schema:
          type: string
          maxLength: 16384
      responses:
        '200':
          description: Successfully updated the member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
        '404':
          description: Member not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /members/{id}/boards:
    get:
      operationId: getMemberBoards
      summary: Get Boards for a Member
      description: Retrieves all boards that a member has access to.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: Filter boards by status.
        schema:
          type: string
          default: all
      - name: fields
        in: query
        description: A comma-separated list of board fields to return.
        schema:
          type: string
      - name: lists
        in: query
        description: Whether to include lists.
        schema:
          type: string
          enum:
          - all
          - closed
          - none
          - open
          default: none
      - name: organization
        in: query
        description: Whether to include the organization.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully retrieved member boards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
        '401':
          description: Unauthorized.
        '404':
          description: Member not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /members/{id}/cards:
    get:
      operationId: getMemberCards
      summary: Get Cards for a Member
      description: Retrieves all cards assigned to a member.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: Filter cards by status.
        schema:
          type: string
          default: visible
      responses:
        '200':
          description: Successfully retrieved member cards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Member not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /members/{id}/organizations:
    get:
      operationId: getMemberOrganizations
      summary: Get Organizations for a Member
      description: Retrieves all organizations (workspaces) that a member belongs to.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: Filter organizations.
        schema:
          type: string
          default: all
      - name: fields
        in: query
        description: A comma-separated list of organization fields to return.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved member organizations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized.
        '404':
          description: Member not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /members/{id}/{field}:
    get:
      tags:
      - Members
      summary: Get a field on a Member
      description: Get a particular property of a member
      operationId: get-members-id-field
      security:
      - OAuth2: []
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: field
        in: path
        description: One of the member [fields](/cloud/trello/guides/rest-api/object-definitions/)
        required: true
        schema:
          $ref: '#/components/schemas/MemberFields'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Member_2'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/actions:
    get:
      tags:
      - Members
      summary: Get a Member's Actions
      description: List the actions for a member
      operationId: get-members-id-actions
      security:
      - OAuth2: []
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: filter
        in: query
        description: A comma-separated list of [action types](https://developer.atlassian.com/cloud/trello/guides/rest-api/action-types/).
        required: false
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/Member_2'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/boardBackgrounds:
    get:
      tags:
      - Members
      summary: Get Member's custom Board backgrounds
      description: Get a member's custom board backgrounds
      operationId: get-members-id-boardbackgrounds
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: filter
        in: query
        description: 'One of: `all`, `custom`, `default`, `none`, `premium`'
        required: false
        schema:
          enum:
          - all
          - custom
          - default
          - none
          - premium
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/BoardBackground'
    post:
      tags:
      - Members
      summary: Upload new boardBackground for Member
      description: Upload a new boardBackground
      operationId: post-members-id-boardbackgrounds-1
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: file
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: binary
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/BoardBackground'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/boardBackgrounds/{idBackground}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idBackground
      in: path
      description: The ID of the board background
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get a boardBackground of a Member
      description: Get a member's board background
      operationId: get-members-id-boardbackgrounds-idbackground
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: fields
        in: query
        description: '`all` or a comma-separated list of: `brightness`, `fullSizeUrl`, `scaled`, `tile`'
        required: false
        schema:
          type: string
          default: all
          enum:
          - all
          - brightness
          - fullSizeUrl
          - scaled
          - tile
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
    put:
      tags:
      - Members
      summary: Update a Member's custom Board background
      description: Update a board background
      operationId: put-members-id-boardbackgrounds-idbackground
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: brightness
        in: query
        description: 'One of: `dark`, `light`, `unknown`'
        required: false
        schema:
          enum:
          - dark
          - light
          - unknown
          type: string
      - name: tile
        in: query
        description: Whether the background should be tiled
        required: false
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
    delete:
      tags:
      - Members
      summary: Delete a Member's custom Board background
      description: Delete a board background
      operationId: delete-members-id-boardbackgrounds-idbackground
      security:
      - OAuth2:
        - write:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/boardStars:
    get:
      tags:
      - Members
      summary: Get a Member's boardStars
      description: List a member's board stars
      operationId: get-members-id-boardstars
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    post:
      tags:
      - Members
      summary: Create Star for Board
      description: Star a new board on behalf of a Member
      operationId: post-members-id-boardstars
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          oneOf:
          - $ref: '#/components/schemas/TrelloID'
          - type: string
      - name: idBoard
        in: query
        description: The ID of the board to star
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: pos
        in: query
        description: The position of the newly starred board. `top`, `bottom`, or a positive float.
        required: true
        schema:
          $ref: '#/components/schemas/posStringOrNumber'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardStars'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/boardStars/{idStar}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idStar
      in: path
      description: The ID of the board star
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get a boardStar of Member
      description: Get a specific boardStar
      operationId: get-members-id-boardstars-idstar
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardStars'
    put:
      tags:
      - Members
      summary: Update the position of a boardStar of Member
      description: Update the position of a starred board
      operationId: put-members-id-boardstars-idstar
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: pos
        in: query
        description: New position for the starred board. `top`, `bottom`, or a positive float.
        required: false
        schema:
          $ref: '#/components/schemas/posStringOrNumber'
      deprecated: false
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Members
      summary: Delete Star for Board
      description: Unstar a board
      operationId: delete-members-id-boardstars-idstar
      security:
      - OAuth2:
        - write:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/boardsInvited:
    get:
      tags:
      - Members
      summary: Get Boards the Member has been invited to
      description: Get the boards the member has been invited to
      operationId: get-members-id-boardsinvited
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          $ref: '#/components/schemas/BoardFields'
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board_2'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customBoardBackgrounds:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get a Member's custom Board Backgrounds
      description: Get a member's custom board backgrounds
      operationId: get-members-id-customboardbackgrounds
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardBackground'
    post:
      tags:
      - Members
      summary: Create a new custom Board Background
      description: Upload a new custom board background
      operationId: membersidcustomboardbackgrounds-1
      security:
      - OAuth2: []
      parameters:
      - name: file
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: binary
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customBoardBackgrounds/{idBackground}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        oneOf:
        - $ref: '#/components/schemas/TrelloID'
        - type: string
    - name: idBackground
      in: path
      description: The ID of the custom background
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get custom Board Background of Member
      description: Get a specific custom board background
      operationId: get-members-id-customboardbackgrounds-idbackground
      security:
      - OAuth2: []
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
    put:
      tags:
      - Members
      summary: Update custom Board Background of Member
      description: Update a specific custom board background
      operationId: put-members-id-customboardbackgrounds-idbackground
      security:
      - OAuth2: []
      parameters:
      - name: brightness
        in: query
        description: 'One of: `dark`, `light`, `unknown`'
        required: false
        schema:
          enum:
          - dark
          - light
          - unknown
          type: string
      - name: tile
        in: query
        description: Whether to tile the background
        required: false
        schema:
          type: boolean
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardBackground'
    delete:
      tags:
      - Members
      summary: Delete custom Board Background of Member
      description: Delete a specific custom board background
      operationId: delete-members-id-customboardbackgrounds-idbackground
      security:
      - OAuth2: []
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customEmoji:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get a Member's customEmojis
      description: Get a Member's uploaded custom Emojis
      operationId: get-members-id-customemoji
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomEmoji'
    post:
      tags:
      - Members
      summary: Create custom Emoji for Member
      description: Create a new custom Emoji
      operationId: post-members-id-customemoji
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: file
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: binary
      - name: name
        in: query
        description: Name for the emoji. 2 - 64 characters
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 64
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customEmoji/{idEmoji}:
    get:
      tags:
      - Members
      summary: Get a Member's custom Emoji
      operationId: membersidcustomemojiidemoji
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idEmoji
        in: path
        description: The ID of the custom emoji
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of `name`, `url`'
        required: false
        explode: false
        style: form
        schema:
          type: string
          enum:
          - name
          - url
          - all
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customStickers:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get Member's custom Stickers
      description: Get a Member's uploaded stickers
      operationId: get-members-id-customstickers
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSticker'
    post:
      tags:
      - Members
      summary: Create custom Sticker for Member
      description: Upload a new custom sticker
      operationId: post-members-id-customstickers
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: file
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: binary
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSticker'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/customStickers/{idSticker}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idSticker
      in: path
      description: The ID of the uploaded sticker
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get a Member's custom Sticker
      operationId: get-members-id-customstickers-idsticker
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: fields
        in: query
        description: '`all` or a comma-separated list of `scaled`, `url`'
        required: false
        explode: false
        style: form
        schema:
          enum:
          - scaled
          - url
          - all
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSticker'
    delete:
      tags:
      - Members
      summary: Delete a Member's custom Sticker
      operationId: delete-members-id-customstickers-idsticker
      security:
      - OAuth2:
        - write:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/notifications:
    get:
      tags:
      - Members
      summary: Get Member's Notifications
      description: Get a member's notifications
      operationId: get-members-id-notifications
      security:
      - OAuth2:
        - read:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: entities
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: false
      - name: display
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: false
      - name: filter
        in: query
        description: ''
        required: false
        schema:
          type: string
          default: all
      - name: read_filter
        in: query
        description: 'One of: `all`, `read`, `unread`'
        required: false
        schema:
          type: string
          default: all
      - name: fields
        in: query
        description: '`all` or a comma-separated list of notification [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: all
      - name: limit
        in: query
        description: Max 1000
        required: false
        schema:
          type: integer
          format: int32
          default: '50'
      - name: page
        in: query
        description: Max 100
        required: false
        schema:
          type: integer
          format: int32
          default: '0'
      - name: before
        in: query
        description: A notification ID
        required: false
        schema:
          type: string
      - name: since
        in: query
        description: A notification ID
        required: false
        schema:
          type: string
      - name: memberCreator
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: true
      - name: memberCreator_fields
        in: query
        description: '`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: avatarHash,fullName,initials,username
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/organizationsInvited:
    get:
      tags:
      - Members
      summary: Get Organizations a Member has been invited to
      description: Get a member's Workspaces they have been invited to
      operationId: get-members-id-organizationsinvited
      security:
      - OAuth2:
        - read:organization:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of organization [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationFields'
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization_2'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/savedSearches:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Members
      summary: Get Member's saved searched
      description: List the saved searches of a Member
      operationId: get-members-id-savedsearches
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedSearch'
    post:
      tags:
      - Members
      summary: Create saved Search for Member
      description: Create a saved search
      operationId: post-members-id-savedsearches
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: name
        in: query
        description: The name for the saved search
        required: true
        schema:
          type: string
      - name: query
        in: query
        description: The search query
        required: true
        schema:
          type: string
      - name: pos
        in: query
        description: The position of the saved search. `top`, `bottom`, or a positive float.
        required: true
        schema:
          $ref: '#/components/schemas/posStringOrNumber'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/savedSearches/{idSearch}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        type: string
    - name: idSearch
      in: path
      description: The ID of the saved search to delete
      required: true
      schema:
        type: string
    get:
      tags:
      - Members
      summary: Get a saved search
      operationId: get-members-id-savedsearches-idsearch
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
    put:
      tags:
      - Members
      summary: Update a saved search
      operationId: put-members-id-savedsearches-idsearch
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: name
        in: query
        description: The new name for the saved search
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: The new search query
        required: false
        schema:
          type: string
      - name: pos
        in: query
        description: New position for saves search. `top`, `bottom`, or a positive float.
        required: false
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
    delete:
      tags:
      - Members
      summary: Delete a saved search
      operationId: delete-members-id-savedsearches-idsearch
      security:
      - OAuth2:
        - write:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/tokens:
    get:
      tags:
      - Members
      summary: Get Member's Tokens
      description: List a members app tokens
      operationId: get-members-id-tokens
      security:
      - OAuth2:
        - read:member:trello
        - write:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: webhooks
        in: query
        description: Whether to include webhooks
        required: false
        schema:
          type: boolean
          default: false
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/avatar:
    post:
      tags:
      - Members
      summary: Create Avatar for Member
      description: Create a new avatar for a member
      operationId: membersidavatar
      security:
      - OAuth2:
        - write:member:trello
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          type: string
      - name: file
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: binary
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /members/{id}/oneTimeMessagesDismissed:
    post:
      tags:
      - Members
      summary: Dismiss a message for Member
      description: Dismiss a message
      operationId: post-members-id-onetimemessagesdismissed
      parameters:
      - name: id
        in: path
        description: The ID or username of the member
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The message to dismiss
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
      security:
      - APIKey: []
        APIToken: []
    servers:
    - url: https://api.trello.com/1
  /members/{id}/notificationChannelSettings:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        oneOf:
        - $ref: '#/components/schemas/TrelloID'
        - type: string
    get:
      tags:
      - Members
      summary: Get a Member's notification channel settings
      description: Get a member's notification channel settings
      operationId: get-members-id-notificationChannelSettings
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationChannelSettings'
    put:
      tags:
      - Members
      summary: Update blocked notification keys of Member on a channel
      description: Update blocked notification keys of Member on a specific channel
      operationId: put-members-id-notificationChannelSettings
      security:
      - OAuth2:
        - write:member:trello
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - channel
              - blockedKeys
              properties:
                channel:
                  $ref: '#/components/schemas/Channel'
                blockedKeys:
                  description: Blocked key or array of blocked keys.
                  oneOf:
                  - $ref: '#/components/schemas/BlockedKey'
                  - type: array
                    items:
                      $ref: '#/components/schemas/BlockedKey'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelSettings'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/notificationChannelSettings/{channel}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        oneOf:
        - $ref: '#/components/schemas/TrelloID'
        - type: string
    - name: channel
      in: path
      description: Channel to block notifications on
      required: true
      schema:
        $ref: '#/components/schemas/Channel'
    get:
      tags:
      - Members
      summary: Get blocked notification keys of Member on this channel
      description: Get blocked notification keys of Member on a specific channel
      operationId: get-members-id-notificationChannelSettings-channel
      security:
      - OAuth2:
        - read:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelSettings'
    put:
      tags:
      - Members
      summary: Update blocked notification keys of Member on a channel
      description: Update blocked notification keys of Member on a specific channel
      operationId: put-members-id-notificationChannelSettings-channel
      security:
      - OAuth2:
        - write:member:trello
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - blockedKeys
              properties:
                blockedKeys:
                  description: Singular key or array of notification keys
                  oneOf:
                  - $ref: '#/components/schemas/BlockedKey'
                  - type: array
                    items:
                      $ref: '#/components/schemas/BlockedKey'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelSettings'
    servers:
    - url: https://api.trello.com/1
  /members/{id}/notificationChannelSettings/{channel}/{blockedKeys}:
    parameters:
    - name: id
      in: path
      description: The ID or username of the member
      required: true
      schema:
        oneOf:
        - $ref: '#/components/schemas/TrelloID'
        - type: string
    - name: channel
      in: path
      description: Channel to block notifications on
      required: true
      schema:
        $ref: '#/components/schemas/Channel'
    - name: blockedKeys
      in: path
      description: Singular key or comma-separated list of notification keys
      required: true
      schema:
        $ref: '#/components/schemas/BlockedKey'
    put:
      tags:
      - Members
      summary: Update blocked notification keys of Member on a channel
      description: Update blocked notification keys of Member on a specific channel
      operationId: put-members-id-notificationChannelSettings-channel-blockedKeys
      security:
      - OAuth2:
        - write:member:trello
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelSettings'
    servers:
    - url: https://api.trello.com/1
components:
  schemas:
    Membership:
      type: object
      description: Represents a membership record linking a member to a board or organization with a specific role.
      properties:
        id:
          type: string
          description: The unique identifier for the membership.
        idMember:
          type: string
          description: The ID of the member.
        memberType:
          type: string
          description: The type of membership.
          enum:
          - admin
          - normal
          - observer
        unconfirmed:
          type: boolean
          description: Whether the membership is unconfirmed.
        deactivated:
          type: boolean
          description: Whether the membership is deactivated.
    Board:
      type: object
      description: Represents a Trello board, which is the primary organizational unit containing lists and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the board.
        name:
          type: string
          description: The name of the board.
        desc:
          type: string
          description: The description of the board.
        descData:
          type: object
          description: Additional description data.
        closed:
          type: boolean
          description: Whether the board is closed (archived).
        idMemberCreator:
          type: string
          description: The ID of the member who created the board.
        idOrganization:
          type: string
          description: The ID of the organization the board belongs to.
        pinned:
          type: boolean
          description: Whether the board is pinned.
        url:
          type: string
          format: uri
          description: The full URL of the board.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the board.
        shortLink:
          type: string
          description: The short link identifier for the board.
        prefs:
          type: object
          description: Board preferences and settings.
          properties:
            permissionLevel:
              type: string
              enum:
              - org
              - private
              - public
            hideVotes:
              type: boolean
            voting:
              type: string
            comments:
              type: string
            selfJoin:
              type: boolean
            cardCovers:
              type: boolean
            cardAging:
              type: string
              enum:
              - pirate
              - regular
            background:
              type: string
            backgroundColor:
              type: string
            backgroundImage:
              type: string
            backgroundTile:
              type: boolean
            backgroundBrightness:
              type: string
        labelNames:
          type: object
          description: The names assigned to each label color on the board.
          properties:
            green:
              type: string
            yellow:
              type: string
            orange:
              type: string
            red:
              type: string
            purple:
              type: string
            blue:
              type: string
            sky:
              type: string
            lime:
              type: string
            pink:
              type: string
            black:
              type: string
        starred:
          type: boolean
          description: Whether the authenticated member has starred the board.
        memberships:
          type: array
          description: The board's membership records.
          items:
            $ref: '#/components/schemas/Membership'
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the board.
        dateLastView:
          type: string
          format: date-time
          description: The date and time the authenticated member last viewed the board.
    Member:
      type: object
      description: Represents a Trello user who can be a member of boards, organizations, and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the member.
        username:
          type: string
          description: The username of the member.
        fullName:
          type: string
          description: The full name of the member.
        initials:
          type: string
          description: The initials of the member.
        bio:
          type: string
          description: The biography of the member.
        avatarHash:
          type: string
          description: The hash of the member's avatar image.
        avatarUrl:
          type: string
          format: uri
          description: The URL of the member's avatar image.
        url:
          type: string
          format: uri
          description: The URL of the member's Trello profile.
        confirmed:
          type: boolean
          description: Whether the member's email has been confirmed.
        memberType:
          type: string
          description: The type of member account.
        status:
          type: string
          description: The activity status of the member.
        idOrganizations:
          type: array
          description: The IDs of organizations the member belongs to.
          items:
            type: string
        idBoards:
          type: array
          description: The IDs of boards the member has access to.
          items:
            type: string
    Organization:
      type: object
      description: Represents a Trello organization (workspace), which is a group of members who share boards.
      properties:
        id:
          type: string
          description: The unique identifier for the organization.
        name:
          type: string
          description: The short name (URL-friendly slug) of the organization.
        displayName:
          type: string
          description: The display name of the organization.
        desc:
          type: string
          description: The description of the organization.
        url:
          type: string
          format: uri
          description: The URL of the organization.
        website:
          type: string
          format: uri
          description: The website of the organization.
        logoHash:
          type: string
          description: The hash of the organization's logo.
        products:
          type: array
          description: The product IDs associated with the organization.
          items:
            type: integer
        idBoards:
          type: array
          description: The IDs of boards in the organization.
          items:
            type: string
        memberships:
          type: array
          description: The membership records for the organization.
          items:
            $ref: '#/components/schemas/Membership'
    Card:
      type: object
      description: Represents a Trello card, which is the fundamental unit of work on a board. Cards live within lists and can have members, labels, checklists, attachments, due dates, and comments.
      properties:
        id:
          type: string
          description: The unique identifier for the card.
        name:
          type: string
          description: The name (title) of the card.
        desc:
          type: string
          description: The description of the card in Markdown.
        closed:
          type: boolean
          description: Whether the card is archived.
        idBoard:
          type: string
          description: The ID of the board the card is on.
        idList:
          type: string
          description: The ID of the list the card is in.
        idShort:
          type: integer
          description: The short numeric identifier for the card within its board.
        idMembers:
          type: array
          description: The IDs of members assigned to the card.
          items:
            type: string
        idLabels:
          type: array
          description: The IDs of labels on the card.
          items:
            type: string
        idChecklists:
          type: array
          description: The IDs of checklists on the card.
          items:
            type: string
        idAttachmentCover:
          type: string
          description: The ID of the attachment used as the card cover.
        pos:
          type: number
          description: The position of the card in its list.
        due:
          type: string
          format: date-time
          description: The due date for the card.
        dueComplete:
          type: boolean
          description: Whether the due date has been marked as complete.
        start:
          type: string
          format: date-time
          description: The start date for the card.
        url:
          type: string
          format: uri
          description: The full URL of the card.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the card.
        shortLink:
          type: string
          description: The short link identifier for the card.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the card.
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the card.
        cover:
          type: object
          description: The card's cover image settings.
          properties:
            idAttachment:
              type: string
            color:
              type: string
            idUploadedBackground:
              type: string
            size:
              type: string
              enum:
              - normal
              - full
            brightness:
              type: string
            idPlugin:
              type: string
        labels:
          type: array
          description: The labels on the card.
          items:
            $ref: '#/components/schemas/Label'
        badges:
          type: object
          description: Badge counts and indicators for the card.
          properties:
            votes:
              type: integer
            attachments:
              type: integer
            comments:
              type: integer
            checkItems:
              type: integer
            checkItemsChecked:
              type: integer
            description:
              type: boolean
            due:
              type: string
              format: date-time
            dueComplete:
              type: boolean
            subscribed:
              type: boolean
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    MemberFields:
      type: string
      enum:
      - id
    OrganizationFields:
      type: string
      enum:
      - id
      - name
    CustomEmoji:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5900ac11ed55d6d2c355c5d6
        url:
          type: string
          format: url
          example: https://trello-emoji.s3.amazonaws.com/5589c3ea49b40cedc28cf70e/b40d9925f4e75495104b5e560881d8e4/chorizo.png
        name:
          type: string
          example: chorizo
    BoardBackground:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    BoardFields:
      type: string
      enum:
      - id
      - name
      - desc
      - descData
      - closed
      - idMemberCreator
      - idOrganization
      - pinned
      - url
      - shortUrl
      - prefs
      - labelNames
      - starred
      - limits
      - memberships
      - enterpriseOwned
    LimitsObject:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - warning
        disableAt:
          type: number
          example: 36000
        warnAt:
          type: number
          example: 32400
    OrganizationPrefs:
      type: object
      properties:
        boardVisibilityRestrict:
          type: object
        boardDeleteRestrict:
          type: object
        attachmentRestrictions:
          type: array
          items:
            type: string
            enum:
            - computer
            - trello
            - google-drive
            - box
            - onedrive
            - link
        permissionLevel:
          type: string
          enum:
          - org
          - private
          - public
          - enterprise
          - domain
          example: private
    MemberPrefs:
      type: object
      properties:
        timezoneInfo:
          type: object
          properties:
            offsetCurrent:
              type: integer
              example: 360
            timezoneCurrent:
              type: string
              example: CST
            offsetNext:
              type: integer
              example: 300
            dateNext:
              type: string
              format: date
              example: '2020-03-08T08:00:00.000Z'
            timezoneNext:
              type: string
              example: CDT
        privacy:
          type: object
          properties:
            fullName:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
            avatar:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
        sendSummaries:
          type: boolean
          example: true
        minutesBetweenSummaries:
          type: integer
          example: 60
        minutesBeforeDeadlineToNotify:
          type: integer
          example: 1440
        colorBlind:
          type: boolean
          example: true
        locale:
          type: string
          example: en-AU
        timezone:
          type: string
          example: America/Chicago
        twoFactor:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
            needsNewBackups:
              type: boolean
              example: false
    Member_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        activityBlocked:
          type: boolean
          example: false
        avatarHash:
          type: string
          example: fc8faaaee46666a4eb8b626c08933e16
        avatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16
        bio:
          type: string
          example: 👋 I'm a developer advocate at Trello!
        bioData:
          type: object
          properties:
            emoji:
              type: object
        confirmed:
          type: boolean
          example: true
        fullName:
          type: string
          example: Bentley Cook
        idEnterprise:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idEnterprisesDeactivated:
          type: array
          items:
            type: string
        idMemberReferrer:
          $ref: '#/components/schemas/TrelloID'
          example: null
        idPremOrgsAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        initials:
          type: string
          example: BC
        memberType:
          type: string
          enum:
          - normal
          - ghost
          example: normal
        nonPublic:
          type: object
          description: 'Profile data with restricted visibility. These fields are visible only to members of the

            same organization. The values here (full name, for example) may differ from the values

            at the top level of the response.

            '
          properties:
            fullName:
              type: string
              example: Bentley Cook
            initials:
              type: string
              example: BC
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
              description: A URL that references the non-public avatar for the member
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
        nonPublicAvailable:
          type: boolean
          example: false
          description: Whether the response contains non-public profile data for the member
        products:
          type: array
          items:
            type: integer
        url:
          type: string
          format: url
          example: https://trello.com/bentleycook
        username:
          type: string
          example: bentleycook
        status:
          type: string
          enum:
          - disconnected
          example: disconnected
        aaEmail:
          type:
          - string
          - 'null'
          format: email
          example: null
        aaEnrolledDate:
          type:
          - string
          - 'null'
          example: null
        aaId:
          type:
          - string
          - 'null'
          example: null
        avatarSource:
          type: string
          enum:
          - gravatar
          - upload
          example: gravatar
        email:
          type: string
          example: bcook@atlassian.com
        gravatarHash:
          type: string
          example: 0a1e804f6e35a65ae5e1f7ef4c92471c
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idEnterprisesAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        limits:
          $ref: '#/components/schemas/LimitsObject'
        loginTypes:
          type: array
          items:
            type: string
            enum:
            - password
            - saml
            example: password
        marketingOptIn:
          type: object
          properties:
            optedIn:
              type: boolean
              example: false
            date:
              type: string
              format: date
              example: '2018-04-26T17:03:25.155Z'
        messagesDismissed:
          type: object
          properties:
            name:
              type: string
              example: ad-security-features
            count:
              type: string
              example: 4
            lastDismissed:
              type: string
              format: date
              example: '2019-03-11T20:19:46.809Z'
            _id:
              $ref: '#/components/schemas/TrelloID'
              example: 5995d44573d197eada632a32
        oneTimeMessagesDismissed:
          type: array
          items:
            type: string
        prefs:
          $ref: '#/components/schemas/MemberPrefs'
        trophies:
          type: array
          items:
            type: string
        uploadedAvatarHash:
          type: string
          example: dac3ad49ff117829dd63a79bb2ea3426
        uploadedAvatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426
        premiumFeatures:
          type: array
          items:
            type: string
        isAaMastered:
          type: boolean
          example: false
        ixUpdate:
          type: number
          example: '48427'
        idBoardsPinned:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TrelloID'
    Board_2:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the board.
          example: Trello Platform Changes
        desc:
          type: string
          example: Track changes to Trello's Platform on this board.
        descData:
          type: string
        closed:
          type: boolean
          example: false
        idMemberCreator:
          $ref: '#/components/schemas/TrelloID'
        idOrganization:
          $ref: '#/components/schemas/TrelloID'
        pinned:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ/trello-platform-changelog
        shortUrl:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ
        prefs:
          $ref: '#/components/schemas/Prefs'
        labelNames:
          type: object
          properties:
            green:
              type: string
              example: Addition
            yellow:
              type: string
              example: Update
            orange:
              type: string
              example: Deprecation
            red:
              type: string
              example: Deletion
            purple:
              type: string
              example: Power-Ups
            blue:
              type: string
              example: News
            sky:
              type: string
              example: Announcement
            lime:
              type: string
              example: Delight
            pink:
              type: string
              example: REST API
            black:
              type: string
              example: Capabilties
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        starred:
          type: boolean
        memberships:
          type: string
        shortLink:
          type: string
        subscribed:
          type: boolean
        powerUps:
          type: string
        dateLastActivity:
          type: string
          format: date
        dateLastView:
          type: string
          format: date
        idTags:
          type: string
        datePluginDisable:
          type:
          - string
          - 'null'
          format: date
        creationMethod:
          type:
          - string
          - 'null'
        ixUpdate:
          type: integer
        templateGallery:
          type:
          - string
          - 'null'
        enterpriseOwned:
          type: boolean
    Organization_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
        displayName:
          type: string
          example: Organization Name
        dateLastActivity:
          type: string
          format: date
          example: '2018-10-17T19:10:14.808Z'
        prefs:
          $ref: '#/components/schemas/OrganizationPrefs'
        idEnterprise:
          $ref: '#/components/schemas/TrelloID'
        offering:
          type: string
          example: trello.enterprise
        url:
          type: string
          format: url
          example: https://trello.com/w/<name>
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        premiumFeatures:
          type: array
          items:
            type: string
    BlockedKey:
      type: string
      enum:
      - notification_comment_card
      - notification_added_a_due_date
      - notification_changed_due_date
      - notification_card_due_soon
      - notification_removed_from_card
      - notification_added_attachment_to_card
      - notification_created_card
      - notification_moved_card
      - notification_archived_card
      - notification_unarchived_card
      example: notification_comment_card
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
    Token:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5da728c55235b443c5b97181
        identifier:
          type: string
          example: App Name
        idMember:
          $ref: '#/components/schemas/TrelloID'
          example: 5589c3ea49b40cedc28cf70e
        dateCreated:
          type: string
          format: date-time
          example: '2019-10-16T14:27:17.304Z'
        dateExpires:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/TokenPermission'
    CardAging:
      type: string
      enum:
      - pirate
      - regular
    BoardStars:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 585063850027165010be15a8
        idBoard:
          $ref: '#/components/schemas/TrelloID'
          example: 57f7df684f1ca8c2877162e0
        pos:
          type: integer
          example: 32768
    Limits:
      type: object
      properties:
        attachments:
          type: object
          properties:
            perBoard:
              type: object
              $ref: '#/components/schemas/LimitsObject'
    CustomSticker:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        url:
          type: string
          format: url
        scaled:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/TrelloID'
    NotificationChannelSettings:
      properties:
        id:
          type: string
          example: 5dc591ac425f2a223aba0a8e
        idMember:
          $ref: '#/components/schemas/TrelloID'
          example: 5589c3ea49b40cedc28cf70e
        blockedKeys:
          type: array
          items:
            $ref: '#/components/schemas/BlockedKey'
        channel:
          $ref: '#/components/schemas/Channel'
    Card_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        address:
          type:
          - string
          - 'null'
        badges:
          type: object
          properties:
            attachmentsByType:
              type: object
              properties:
                trello:
                  type: object
                  properties:
                    board:
                      type: number
                    card:
                      type: number
            location:
              type: boolean
            votes:
              type: integer
            viewingMemberVoted:
              type: boolean
              example: false
            subscribed:
              type: boolean
              example: false
            fogbugz:
              type: string
            checkItems:
              type: integer
              example: 0
            checkItemsChecked:
              type: integer
              example: 0
            comments:
              type: integer
              example: 0
            attachments:
              type: integer
              example: 0
            description:
              type: boolean
            due:
              type:
              - string
              - 'null'
              format: date
            start:
              type:
              - string
              - 'null'
              format: date
            dueComplete:
              type: boolean
        cardRole:
          type:
          - string
          - 'null'
          enum:
          - separator
          - board
          - mirror
          - link
          example: mirror
        checkItemStates:
          type: array
          items:
            oneOf:
            - type: string
        closed:
          type: boolean
        coordinates:
          type:
          - string
          - 'null'
        creationMethod:
          type:
          - string
          - 'null'
        dateLastActivity:
          type: string
          format: date-time
          example: '2019-09-16T16:19:17.156Z'
        desc:
          type: string
          example: '👋Hey there,


            Trello''s Platform team uses this board to keep developers up-to-date.'
        descData:
          type: object
          properties:
            emoji:
              type: object
        due:
          type:
          - string
          - 'null'
          format: date
        dueReminder:
          type:
          - string
          - 'null'
        idBoard:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        idChecklists:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Checklist'
            - $ref: '#/components/schemas/TrelloID'
        idLabels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Label_2'
            - $ref: '#/components/schemas/TrelloID'
        idList:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        idMembers:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idMembersVoted:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idShort:
          type: integer
        idAttachmentCover:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        labels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        locationName:
          type:
          - string
          - 'null'
        manualCoverAttachment:
          type: boolean
          example: false
        mirrorSourceId:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          example: 👋 What? Why? How?
        pos:
          type: number
          format: float
          example: 65535
        shortLink:
          type: string
          example: H0TZyzbK
        shortUrl:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK
        subscribed:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how
        cover:
          type: object
          properties:
            idAttachment:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
            color:
              $ref: '#/components/schemas/Color'
            idUploadedBackground:
              type:
              - boolean
              - 'null'
            size:
              type: string
              enum:
              - normal
            brightness:
              type: string
              enum:
              - light
              - dark
            isTemplate:
              type: boolean
              example: false
    TokenPermission:
      type: object
      properties:
        idModel:
          oneOf:
          - $ref: '#/components/schemas/TrelloID'
          - type: string
            enum:
            - '*'
        modelType:
          type: string
          enum:
          - board
          - member
          - organization
          - enterprise
        read:
          type: boolean
        write:
          type: boolean
    Channel:
      type: string
      enum:
      - email
      example: email
    Checklist:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    posStringOrNumber:
      oneOf:
      - type: string
        enum:
        - top
        - bottom
      - type: number
        format: float
        example: 1293.5
    Notification:
      properties:
        id:
          type: string
          example: 5dc591ac425f2a223aba0a8e
        unread:
          type: boolean
          example: true
        type:
          type: string
          enum:
          - cardDueSoon
          example: cardDueSoon
        date:
          type: string
          example: '2019-11-08T16:02:52.763Z'
        dateRead:
          type: string
          example: null
        data:
          type: string
          example: null
        card:
          type: object
          $ref: '#/components/schemas/Card_2'
        board:
          type: object
          $ref: '#/components/schemas/Board_2'
        idMemberCreator:
          $ref: '#/components/schemas/TrelloID'
          example: null
        idAction:
          $ref: '#/components/schemas/TrelloID'
          example: null
        reactions:
          type: array
          example: []
    SavedSearch:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5589b47349b40cedc28ceae2
        name:
          type: string
          example: My Cards
        query:
          type: string
          example: '@me'
        pos:
          $ref: '#/components/schemas/posStringOrNumber'
          example: 1638
    Prefs:
      type: object
      properties:
        permissionLevel:
          type: string
          enum:
          - org
          - board
        hideVotes:
          type: boolean
        voting:
          type: string
          enum:
          - disabled
          - enabled
        comments:
          type: string
        invitations:
          enum:
          - admins
          - members
        selfJoin:
          type: boolean
        cardCovers:
          type: boolean
        isTemplate:
          type: boolean
        cardAging:
          $ref: '#/components/schemas/CardAging'
        calendarFeedEnabled:
          type: boolean
        background:
          $ref: '#/components/schemas/TrelloID'
        backgroundImage:
          type: string
          format: uri
        backgroundImageScaled:
          type: array
          items:
            $ref: '#/components/schemas/ImageDescriptor'
        backgroundTile:
          type: boolean
        backgroundBrightness:
          type: string
          example: dark
        backgroundBottomColor:
          type: string
          example: '#1e2e00'
        backgroundTopColor:
          type: string
          example: '#ffffff'
        canBePublic:
          type: boolean
        canBeEnterprise:
          type: boolean
        canBeOrg:
          type: boolean
        canBePrivate:
          type: boolean
        canInvite:
          type: boolean
    ImageDescriptor:
      type: object
      properties:
        width:
          description: The width of the image.
          type: integer
          example: 100
        height:
          description: The height of the image.
          type: integer
          example: 64
        url:
          description: The URL of the image.
          format: url
          type: string
          example: https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg
    Label_2:
      type: object
      properties:
        id:
          description: The ID of the label.
          type: string
          $ref: '#/components/schemas/TrelloID'
        idBoard:
          type: string
          description: The ID of the board the label is on.
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        name:
          type:
          - string
          - 'null'
          description: The name displayed for the label.
          example: Overdue
          minLength: 0
          maxLength: 16384
        color:
          type: string
          $ref: '#/components/schemas/Color'
          description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
