openapi: 3.2.0
info:
  title: Trello Cards API
  version: '1.0'
  description: 'Operations tagged Cards across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Cards
  description: Operations for creating, retrieving, updating, and deleting cards, including managing card attachments, checklists, comments, labels, members, and stickers.
paths:
  /cards:
    post:
      operationId: createCard
      summary: Create a Card
      description: Creates a new card on the specified list.
      tags:
      - Cards
      parameters:
      - name: name
        in: query
        description: The name for the card.
        schema:
          type: string
          minLength: 0
          maxLength: 16384
      - name: desc
        in: query
        description: The description for the card.
        schema:
          type: string
          maxLength: 16384
      - name: pos
        in: query
        description: The position of the card in the list.
        schema:
          type: string
          default: bottom
      - name: due
        in: query
        description: The due date for the card.
        schema:
          type: string
          format: date-time
      - name: start
        in: query
        description: The start date for the card.
        schema:
          type: string
          format: date-time
      - name: dueComplete
        in: query
        description: Whether the due date is complete.
        schema:
          type: boolean
          default: false
      - name: idList
        in: query
        required: true
        description: The ID of the list the card should be created in.
        schema:
          type: string
      - name: idMembers
        in: query
        description: Comma-separated list of member IDs to add to the card.
        schema:
          type: string
      - name: idLabels
        in: query
        description: Comma-separated list of label IDs to add to the card.
        schema:
          type: string
      - name: urlSource
        in: query
        description: A URL to attach to the card.
        schema:
          type: string
          format: uri
      - name: idCardSource
        in: query
        description: The ID of a card to copy into the new card.
        schema:
          type: string
      responses:
        '200':
          description: Successfully created the card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: Bad request. Missing required parameters.
        '401':
          description: Unauthorized.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}:
    get:
      operationId: getCard
      summary: Get a Card
      description: Retrieves a single card by its identifier.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: fields
        in: query
        description: A comma-separated list of card fields to return.
        schema:
          type: string
          default: all
      - name: actions
        in: query
        description: A comma-separated list of action types to include.
        schema:
          type: string
      - name: attachments
        in: query
        description: Whether to include attachments.
        schema:
          type: string
          default: 'false'
      - name: members
        in: query
        description: Whether to include members.
        schema:
          type: boolean
          default: false
      - name: checkItemStates
        in: query
        description: Whether to include check item states.
        schema:
          type: boolean
          default: false
      - name: checklists
        in: query
        description: Whether to include checklists.
        schema:
          type: string
          enum:
          - all
          - none
          default: none
      responses:
        '200':
          description: Successfully retrieved the card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updateCard
      summary: Update a Card
      description: Updates the fields of a card, including name, description, position, due date, list assignment, and more.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        description: The new name for the card.
        schema:
          type: string
          maxLength: 16384
      - name: desc
        in: query
        description: The new description for the card.
        schema:
          type: string
          maxLength: 16384
      - name: closed
        in: query
        description: Whether the card is archived.
        schema:
          type: boolean
      - name: idMembers
        in: query
        description: Comma-separated list of member IDs.
        schema:
          type: string
      - name: idLabels
        in: query
        description: Comma-separated list of label IDs.
        schema:
          type: string
      - name: idList
        in: query
        description: The ID of the list to move the card to.
        schema:
          type: string
      - name: idBoard
        in: query
        description: The ID of the board to move the card to.
        schema:
          type: string
      - name: pos
        in: query
        description: The new position of the card.
        schema:
          type: string
      - name: due
        in: query
        description: The new due date for the card.
        schema:
          type: string
          format: date-time
      - name: start
        in: query
        description: The start date for the card.
        schema:
          type: string
          format: date-time
      - name: dueComplete
        in: query
        description: Whether the due date is complete.
        schema:
          type: boolean
      - name: subscribed
        in: query
        description: Whether the authenticated member is subscribed to the card.
        schema:
          type: boolean
      - name: cover
        in: query
        description: JSON string for the card cover.
        schema:
          type: string
      responses:
        '200':
          description: Successfully updated the card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    delete:
      operationId: deleteCard
      summary: Delete a Card
      description: Permanently deletes a card. This action cannot be undone.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully deleted the card.
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/actions:
    get:
      operationId: getCardActions
      summary: Get Actions on a Card
      description: Retrieves a list of actions (activity events) on a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: filter
        in: query
        description: A comma-separated list of action types to filter by.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved card actions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Action'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/actions/comments:
    post:
      operationId: createCardComment
      summary: Add a Comment to a Card
      description: Adds a new comment to a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: text
        in: query
        required: true
        description: The comment text.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      responses:
        '200':
          description: Successfully added the comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/attachments:
    get:
      operationId: getCardAttachments
      summary: Get Attachments on a Card
      description: Retrieves all attachments on a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: fields
        in: query
        description: A comma-separated list of attachment fields to return.
        schema:
          type: string
          default: all
      responses:
        '200':
          description: Successfully retrieved card attachments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: createCardAttachment
      summary: Create an Attachment on a Card
      description: Adds a new attachment to a card, either from a URL or a file upload.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        description: The name for the attachment.
        schema:
          type: string
      - name: mimeType
        in: query
        description: The MIME type of the attachment.
        schema:
          type: string
      - name: url
        in: query
        description: A URL to attach to the card.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Successfully created the attachment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/checklists:
    get:
      operationId: getCardChecklists
      summary: Get Checklists on a Card
      description: Retrieves all checklists on a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved card checklists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Checklist'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: createCardChecklist
      summary: Create a Checklist on a Card
      description: Creates a new checklist on the specified card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        description: The name for the checklist.
        schema:
          type: string
      - name: idChecklistSource
        in: query
        description: The ID of a checklist to copy into the new checklist.
        schema:
          type: string
      - name: pos
        in: query
        description: The position of the checklist on the card.
        schema:
          type: string
          default: bottom
      responses:
        '200':
          description: Successfully created the checklist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checklist'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/labels:
    post:
      operationId: addCardLabel
      summary: Add a Label to a Card
      description: Adds an existing label to a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: value
        in: query
        required: true
        description: The ID of the label to add.
        schema:
          type: string
      responses:
        '200':
          description: Successfully added the label.
        '401':
          description: Unauthorized.
        '404':
          description: Card or label not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/labels/{idLabel}:
    delete:
      operationId: removeCardLabel
      summary: Remove a Label from a Card
      description: Removes a label from a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: idLabel
        in: path
        required: true
        description: The ID of the label to remove.
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed the label.
        '401':
          description: Unauthorized.
        '404':
          description: Card or label not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/members:
    post:
      operationId: addCardMember
      summary: Add a Member to a Card
      description: Adds a member to a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: value
        in: query
        required: true
        description: The ID of the member to add.
        schema:
          type: string
      responses:
        '200':
          description: Successfully added the member.
        '401':
          description: Unauthorized.
        '404':
          description: Card or member not found.
      security:
      - apiKey: []
        apiToken: []
    get:
      tags:
      - Cards
      summary: Get the Members of a Card
      description: Get the members on a card
      operationId: get-cards-id-members
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: avatarHash,fullName,initials,username
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/members/{idMember}:
    delete:
      operationId: removeCardMember
      summary: Remove a Member from a Card
      description: Removes a member from a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: idMember
        in: path
        required: true
        description: The ID of the member to remove.
        schema:
          type: string
      responses:
        '200':
          description: Successfully removed the member.
        '401':
          description: Unauthorized.
        '404':
          description: Card or member not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/stickers:
    get:
      operationId: getCardStickers
      summary: Get Stickers on a Card
      description: Retrieves all stickers on a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved card stickers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sticker'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: addCardSticker
      summary: Add a Sticker to a Card
      description: Adds a sticker to a card.
      tags:
      - Cards
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: image
        in: query
        required: true
        description: The sticker image identifier.
        schema:
          type: string
      - name: top
        in: query
        required: true
        description: The top position of the sticker as a percentage.
        schema:
          type: number
      - name: left
        in: query
        required: true
        description: The left position of the sticker as a percentage.
        schema:
          type: number
      - name: zIndex
        in: query
        required: true
        description: The z-index of the sticker.
        schema:
          type: integer
      - name: rotate
        in: query
        description: The rotation of the sticker in degrees.
        schema:
          type: number
          default: 0
      responses:
        '200':
          description: Successfully added the sticker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sticker'
        '401':
          description: Unauthorized.
        '404':
          description: Card not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /cards/{id}/{field}:
    get:
      tags:
      - Cards
      summary: Get a field on a Card
      description: Get a specific property of a card
      operationId: get-cards-id-field
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: field
        in: path
        description: The desired field.
        required: true
        schema:
          $ref: '#/components/schemas/CardFields'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card_2'
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/attachments/{idAttachment}:
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idAttachment
      in: path
      description: The ID of the Attachment
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Cards
      summary: Get an Attachment on a Card
      description: Get a specific Attachment on a Card.
      operationId: get-cards-id-attachments-idattachment
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: fields
        in: query
        description: The Attachment fields to be included in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/AttachmentFields'
          default:
          - all
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/Attachment_2'
    delete:
      tags:
      - Cards
      summary: Delete an Attachment on a Card
      description: Delete an Attachment
      operationId: deleted-cards-id-attachments-idattachment
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idAttachment
        in: path
        description: The ID of the attachment to delete
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/board:
    get:
      tags:
      - Cards
      summary: Get the Board the Card is on
      description: Get the board a card is on
      operationId: get-cards-id-board
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/#board-object)'
        required: false
        schema:
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/checkItemStates:
    get:
      tags:
      - Cards
      summary: Get checkItems on a Card
      description: Get the completed checklist items on a card
      operationId: get-cards-id-checkitemstates
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of: `idCheckItem`, `state`'
        required: false
        schema:
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/checkItem/{idCheckItem}:
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idCheckItem
      in: path
      description: The ID of the checkitem
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Cards
      summary: Get checkItem on a Card
      description: Get a specific checkItem on a card
      operationId: get-cards-id-checkitem-idcheckitem
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: fields
        in: query
        description: '`all` or a comma-separated list of `name,nameData,pos,state,type,due,dueReminder,idMember`'
        required: false
        schema:
          type: string
          default: name,nameData,pos,state,due,dueReminder,idMember
      deprecated: false
      responses:
        '200':
          description: Success
    put:
      tags:
      - Cards
      summary: Update a checkItem on a Card
      description: Update an item in a checklist on a card.
      operationId: put-cards-id-checkitem-idcheckitem
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: name
        in: query
        description: The new name for the checklist item
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: 'One of: `complete`, `incomplete`'
        required: false
        schema:
          type: string
          enum:
          - complete
          - incomplete
      - name: idChecklist
        in: query
        description: The ID of the checklist this item is in
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: pos
        in: query
        description: '`top`, `bottom`, or a positive float'
        required: false
        schema:
          $ref: '#/components/schemas/posStringOrNumber'
      - name: due
        in: query
        description: A due date for the checkitem
        required: false
        schema:
          type: string
          format: date
      - name: dueReminder
        in: query
        description: A dueReminder for the due date on the checkitem
        required: false
        schema:
          type:
          - number
          - 'null'
      - name: idMember
        in: query
        description: The ID of the member to remove from the card
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Cards
      summary: Delete checkItem on a Card
      description: Delete a checklist item
      operationId: delete-cards-id-checkitem-idcheckitem
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/list:
    get:
      tags:
      - Cards
      summary: Get the List of a Card
      description: Get the list a card is in
      operationId: get-cards-id-list
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: fields
        in: query
        description: '`all` or a comma-separated list of list [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/membersVoted:
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Cards
      summary: Get Members who have voted on a Card
      description: Get the members who have voted on a card
      operationId: get-cards-id-membersvoted
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: fields
        in: query
        description: '`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: avatarHash,fullName,initials,username
      deprecated: false
      responses:
        '200':
          description: Success
    post:
      tags:
      - Cards
      summary: Add Member vote to Card
      description: Vote on the card for a given member.
      operationId: cardsidmembersvoted-1
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: value
        in: query
        description: The ID of the member to vote 'yes' on the card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/pluginData:
    get:
      tags:
      - Cards
      summary: Get pluginData on a Card
      description: Get any shared pluginData on a card.
      operationId: get-cards-id-plugindata
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/stickers/{idSticker}:
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idSticker
      in: path
      description: The ID of the sticker
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Cards
      summary: Get a Sticker on a Card
      description: Get a specific sticker on a card
      operationId: get-cards-id-stickers-idsticker
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: fields
        in: query
        description: '`all` or a comma-separated list of sticker [fields](/cloud/trello/guides/rest-api/object-definitions/)'
        required: false
        schema:
          type: string
          default: all
      deprecated: false
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Cards
      summary: Delete a Sticker on a Card
      description: Remove a sticker from the card
      operationId: delete-cards-id-stickers-idsticker
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
    put:
      tags:
      - Cards
      summary: Update a Sticker on a Card
      description: Update a sticker on a card
      operationId: put-cards-id-stickers-idsticker
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: top
        in: query
        description: The top position of the sticker, from -60 to 100
        required: true
        schema:
          type: number
          format: float
          minimum: -60
          maximum: 100
      - name: left
        in: query
        description: The left position of the sticker, from -60 to 100
        required: true
        schema:
          type: number
          format: float
          minimum: -60
          maximum: 100
      - name: zIndex
        in: query
        description: The z-index of the sticker
        required: true
        schema:
          type: integer
      - name: rotate
        in: query
        description: The rotation of the sticker
        required: false
        schema:
          type: number
          format: float
          default: 0
          minimum: 0
          maximum: 360
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/actions/{idAction}/comments:
    parameters:
    - name: id
      in: path
      description: The ID of the Card
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: idAction
      in: path
      description: The ID of the comment action to update
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    put:
      tags:
      - Cards
      summary: Update Comment Action on a Card
      description: Update an existing comment
      operationId: put-cards-id-actions-idaction-comments
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      parameters:
      - name: text
        in: query
        description: The new text for the comment
        required: true
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Cards
      summary: Delete a comment on a Card
      description: Delete a comment
      operationId: delete-cards-id-actions-id-comments
      security:
      - OAuth2:
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{idCard}/customField/{idCustomField}/item:
    put:
      tags:
      - Cards
      summary: Update Custom Field item on Card
      description: Setting, updating, and removing the value for a Custom Field on a card. For more details on updating custom fields check out the Getting Started With Custom Fields
      operationId: put-cards-idcard-customfield-idcustomfield-item
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: idCard
        in: path
        description: ID of the card that the Custom Field value should be set/updated for
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idCustomField
        in: path
        description: ID of the Custom Field on the card.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  value:
                    type: object
                    description: An object containing the key and value to set for the card's Custom Field value. The key used to set the value should match the type of Custom Field defined.
                    properties:
                      text:
                        type: string
                      checked:
                        type: boolean
                      date:
                        type: string
                        format: date-time
                        example: '2018-03-13T16:00:00.000Z'
                      number:
                        type: string
                        example: '2154'
              - type: object
                properties:
                  idValue:
                    $ref: '#/components/schemas/TrelloID'
                    description: The ID of the option for the list type Custom Field
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{idCard}/customFields:
    put:
      tags:
      - Cards
      summary: Update Multiple Custom Field items on Card
      description: Setting, updating, and removing the values for multiple Custom Fields on a card. For more details on updating custom fields check out the Getting Started With Custom Fields
      operationId: put-cards-idcard-customfields
      security:
      - OAuth2:
        - write:board:trello
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customFieldItems:
                  type: array
                  description: An array of objects containing the custom field ID, key and value, and ID of list type option.
                  items:
                    type: object
                    properties:
                      idCustomField:
                        pattern: ^[0-9a-fA-F]{32}$
                        example: 5abbe4b7ddc1b351ef961414
                        description: The ID of the Custom Field
                      value:
                        type: object
                        description: An object containing the key and value to set for the card's Custom Field value. The key used to set the value should match the type of Custom Field defined. This is optional if Custom Field is list type.
                        properties:
                          text:
                            type: string
                          checked:
                            type: boolean
                          date:
                            type: string
                            format: date-time
                            example: '2018-03-13T16:00:00.000Z'
                          number:
                            type: string
                            example: '2154'
                      idValue:
                        pattern: ^[0-9a-fA-F]{32}$
                        example: 5abbe4b7ddc1b351ef961414
                        description: The ID of the option for the list type Custom Field. This is optional if Custom Field is not list type.
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/customFieldItems:
    get:
      tags:
      - Cards
      summary: Get Custom Field Items for a Card
      description: Get the custom field items for a card.
      operationId: get-cards-id-customfielditems
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldItems'
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/idLabels:
    post:
      tags:
      - Cards
      summary: Add a Label to a Card
      description: Add a label to a card
      operationId: post-cards-id-idlabels
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The ID of the label to add
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/idMembers:
    post:
      tags:
      - Cards
      summary: Add a Member to a Card
      description: Add a member to a card
      operationId: post-cards-id-idmembers
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The ID of the Member to add to the card
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/markAssociatedNotificationsRead:
    post:
      tags:
      - Cards
      summary: Mark a Card's Notifications as read
      description: Mark notifications about this card as read
      operationId: post-cards-id-markassociatednotificationsread
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/idLabels/{idLabel}:
    delete:
      tags:
      - Cards
      summary: Remove a Label from a Card
      description: Remove a label from a card
      operationId: delete-cards-id-idlabels-idlabel
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idLabel
        in: path
        description: The ID of the label to remove
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/idMembers/{idMember}:
    delete:
      tags:
      - Cards
      summary: Remove a Member from a Card
      description: Remove a member from a card
      operationId: delete-id-idmembers-idmember
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idMember
        in: path
        description: The ID of the member to remove from the card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/membersVoted/{idMember}:
    delete:
      tags:
      - Cards
      summary: Remove a Member's Vote on a Card
      description: Remove a member's vote from a card
      operationId: delete-cards-id-membersvoted-idmember
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idMember
        in: path
        description: The ID of the member whose vote to remove
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}:
    put:
      tags:
      - Cards
      summary: Update Checkitem on Checklist on Card
      description: Update an item in a checklist on a card.
      operationId: put-cards-idcard-checklist-idchecklist-checkitem-idcheckitem
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: idCard
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idCheckItem
        in: path
        description: The ID of the checklist item to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: pos
        in: query
        description: '`top`, `bottom`, or a positive float'
        required: false
        schema:
          $ref: '#/components/schemas/posStringOrNumber'
      - name: idChecklist
        in: path
        description: The ID of the item to update.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckItem_2'
    servers:
    - url: https://api.trello.com/1
  /cards/{id}/checklists/{idChecklist}:
    delete:
      tags:
      - Cards
      summary: Delete a Checklist on a Card
      description: Delete a checklist from a card
      operationId: delete-cards-id-checklists-idchecklist
      security:
      - OAuth2:
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the Card
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idChecklist
        in: path
        description: The ID of the checklist to delete
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
components:
  schemas:
    CheckItem:
      type: object
      description: Represents a single item in a checklist that can be checked or unchecked.
      properties:
        id:
          type: string
          description: The unique identifier for the check item.
        name:
          type: string
          description: The name of the check item.
        state:
          type: string
          description: The completion state of the check item.
          enum:
          - complete
          - incomplete
        idChecklist:
          type: string
          description: The ID of the checklist the check item belongs to.
        pos:
          type: number
          description: The position of the check item in the checklist.
        due:
          type: string
          format: date-time
          description: The due date for the check item.
        idMember:
          type: string
          description: The ID of the member assigned to the check item.
    Card:
      type: object
      description: Represents a Trello card, which is the fundamental unit of work on a board. Cards live within lists and can have members, labels, checklists, attachments, due dates, and comments.
      properties:
        id:
          type: string
          description: The unique identifier for the card.
        name:
          type: string
          description: The name (title) of the card.
        desc:
          type: string
          description: The description of the card in Markdown.
        closed:
          type: boolean
          description: Whether the card is archived.
        idBoard:
          type: string
          description: The ID of the board the card is on.
        idList:
          type: string
          description: The ID of the list the card is in.
        idShort:
          type: integer
          description: The short numeric identifier for the card within its board.
        idMembers:
          type: array
          description: The IDs of members assigned to the card.
          items:
            type: string
        idLabels:
          type: array
          description: The IDs of labels on the card.
          items:
            type: string
        idChecklists:
          type: array
          description: The IDs of checklists on the card.
          items:
            type: string
        idAttachmentCover:
          type: string
          description: The ID of the attachment used as the card cover.
        pos:
          type: number
          description: The position of the card in its list.
        due:
          type: string
          format: date-time
          description: The due date for the card.
        dueComplete:
          type: boolean
          description: Whether the due date has been marked as complete.
        start:
          type: string
          format: date-time
          description: The start date for the card.
        url:
          type: string
          format: uri
          description: The full URL of the card.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the card.
        shortLink:
          type: string
          description: The short link identifier for the card.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the card.
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the card.
        cover:
          type: object
          description: The card's cover image settings.
          properties:
            idAttachment:
              type: string
            color:
              type: string
            idUploadedBackground:
              type: string
            size:
              type: string
              enum:
              - normal
              - full
            brightness:
              type: string
            idPlugin:
              type: string
        labels:
          type: array
          description: The labels on the card.
          items:
            $ref: '#/components/schemas/Label'
        badges:
          type: object
          description: Badge counts and indicators for the card.
          properties:
            votes:
              type: integer
            attachments:
              type: integer
            comments:
              type: integer
            checkItems:
              type: integer
            checkItemsChecked:
              type: integer
            description:
              type: boolean
            due:
              type: string
              format: date-time
            dueComplete:
              type: boolean
            subscribed:
              type: boolean
    Member:
      type: object
      description: Represents a Trello user who can be a member of boards, organizations, and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the member.
        username:
          type: string
          description: The username of the member.
        fullName:
          type: string
          description: The full name of the member.
        initials:
          type: string
          description: The initials of the member.
        bio:
          type: string
          description: The biography of the member.
        avatarHash:
          type: string
          description: The hash of the member's avatar image.
        avatarUrl:
          type: string
          format: uri
          description: The URL of the member's avatar image.
        url:
          type: string
          format: uri
          description: The URL of the member's Trello profile.
        confirmed:
          type: boolean
          description: Whether the member's email has been confirmed.
        memberType:
          type: string
          description: The type of member account.
        status:
          type: string
          description: The activity status of the member.
        idOrganizations:
          type: array
          description: The IDs of organizations the member belongs to.
          items:
            type: string
        idBoards:
          type: array
          description: The IDs of boards the member has access to.
          items:
            type: string
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    Attachment:
      type: object
      description: Represents a file or URL attachment on a card.
      properties:
        id:
          type: string
          description: The unique identifier for the attachment.
        name:
          type: string
          description: The name of the attachment.
        url:
          type: string
          format: uri
          description: The URL of the attachment.
        bytes:
          type: integer
          description: The size of the attachment in bytes.
        date:
          type: string
          format: date-time
          description: The date the attachment was added.
        edgeColor:
          type: string
          description: The edge color of the attachment preview.
        idMember:
          type: string
          description: The ID of the member who added the attachment.
        isUpload:
          type: boolean
          description: Whether the attachment was uploaded (vs. linked).
        mimeType:
          type: string
          description: The MIME type of the attachment.
        previews:
          type: array
          description: Preview image versions of the attachment.
          items:
            type: object
            properties:
              id:
                type: string
              url:
                type: string
                format: uri
              width:
                type: integer
              height:
                type: integer
              bytes:
                type: integer
    Sticker:
      type: object
      description: Represents a decorative sticker placed on a card.
      properties:
        id:
          type: string
          description: The unique identifier for the sticker.
        image:
          type: string
          description: The image identifier for the sticker.
        imageUrl:
          type: string
          format: uri
          description: The URL of the sticker image.
        top:
          type: number
          description: The top position as a percentage.
        left:
          type: number
          description: The left position as a percentage.
        zIndex:
          type: integer
          description: The z-index of the sticker.
        rotate:
          type: number
          description: The rotation in degrees.
    Checklist:
      type: object
      description: Represents a checklist on a card, containing a list of check items that can be marked as complete or incomplete.
      properties:
        id:
          type: string
          description: The unique identifier for the checklist.
        name:
          type: string
          description: The name of the checklist.
        idBoard:
          type: string
          description: The ID of the board the checklist belongs to.
        idCard:
          type: string
          description: The ID of the card the checklist is on.
        pos:
          type: number
          description: The position of the checklist on the card.
        checkItems:
          type: array
          description: The check items in the checklist.
          items:
            $ref: '#/components/schemas/CheckItem'
    Action:
      type: object
      description: Represents an activity event that occurred on a Trello object, such as creating a card, adding a comment, or moving a card between lists.
      properties:
        id:
          type: string
          description: The unique identifier for the action.
        idMemberCreator:
          type: string
          description: The ID of the member who performed the action.
        type:
          type: string
          description: The type of action that was performed.
        date:
          type: string
          format: date-time
          description: The date and time the action was performed.
        data:
          type: object
          description: Context data about the action, including references to the objects involved.
          properties:
            text:
              type: string
              description: The text content of the action, if applicable.
            board:
              type: object
              description: Reference to the board involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                shortLink:
                  type: string
            card:
              type: object
              description: Reference to the card involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                idShort:
                  type: integer
                shortLink:
                  type: string
            list:
              type: object
              description: Reference to the list involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
            old:
              type: object
              description: The previous values of fields that were changed.
        display:
          type: object
          description: Display information for rendering the action.
        memberCreator:
          $ref: '#/components/schemas/Member'
    CheckItem_2:
      type: object
      properties:
        idChecklist:
          $ref: '#/components/schemas/TrelloID'
          example: 5dc9b507756e182c76007621
        state:
          type: string
          enum:
          - complete
          - incomplete
          example: incomplete
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5dc9b509f02f4314edc4303a
        name:
          type: string
        nameData:
          type:
          - string
          - 'null'
          example: null
        pos:
          type: string
          example: 1673
    Card_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        address:
          type:
          - string
          - 'null'
        badges:
          type: object
          properties:
            attachmentsByType:
              type: object
              properties:
                trello:
                  type: object
                  properties:
                    board:
                      type: number
                    card:
                      type: number
            location:
              type: boolean
            votes:
              type: integer
            viewingMemberVoted:
              type: boolean
              example: false
            subscribed:
              type: boolean
              example: false
            fogbugz:
              type: string
            checkItems:
              type: integer
              example: 0
            checkItemsChecked:
              type: integer
              example: 0
            comments:
              type: integer
              example: 0
            attachments:
              type: integer
              example: 0
            description:
              type: boolean
            due:
              type:
              - string
              - 'null'
              format: date
            start:
              type:
              - string
              - 'null'
              format: date
            dueComplete:
              type: boolean
        cardRole:
          type:
          - string
          - 'null'
          enum:
          - separator
          - board
          - mirror
          - link
          example: mirror
        checkItemStates:
          type: array
          items:
            oneOf:
            - type: string
        closed:
          type: boolean
        coordinates:
          type:
          - string
          - 'null'
        creationMethod:
          type:
          - string
          - 'null'
        dateLastActivity:
          type: string
          format: date-time
          example: '2019-09-16T16:19:17.156Z'
        desc:
          type: string
          example: '👋Hey there,


            Trello''s Platform team uses this board to keep developers up-to-date.'
        descData:
          type: object
          properties:
            emoji:
              type: object
        due:
          type:
          - string
          - 'null'
          format: date
        dueReminder:
          type:
          - string
          - 'null'
        idBoard:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        idChecklists:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Checklist_2'
            - $ref: '#/components/schemas/TrelloID'
        idLabels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Label_2'
            - $ref: '#/components/schemas/TrelloID'
        idList:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        idMembers:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idMembersVoted:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idShort:
          type: integer
        idAttachmentCover:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        labels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        locationName:
          type:
          - string
          - 'null'
        manualCoverAttachment:
          type: boolean
          example: false
        mirrorSourceId:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          example: 👋 What? Why? How?
        pos:
          type: number
          format: float
          example: 65535
        shortLink:
          type: string
          example: H0TZyzbK
        shortUrl:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK
        subscribed:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how
        cover:
          type: object
          properties:
            idAttachment:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
            color:
              $ref: '#/components/schemas/Color'
            idUploadedBackground:
              type:
              - boolean
              - 'null'
            size:
              type: string
              enum:
              - normal
            brightness:
              type: string
              enum:
              - light
              - dark
            isTemplate:
              type: boolean
              example: false
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    posStringOrNumber:
      oneOf:
      - type: string
        enum:
        - top
        - bottom
      - type: number
        format: float
        example: 1293.5
    LimitsObject:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - warning
        disableAt:
          type: number
          example: 36000
        warnAt:
          type: number
          example: 32400
    Limits:
      type: object
      properties:
        attachments:
          type: object
          properties:
            perBoard:
              type: object
              $ref: '#/components/schemas/LimitsObject'
    CardFields:
      type: string
      enum:
      - id
      - address
      - badges
      - checkItemStates
      - closed
      - coordinates
      - creationMethod
      - dueComplete
      - dateLastActivity
      - desc
      - descData
      - due
      - dueReminder
      - idBoard
      - idChecklists
      - idLabels
      - idList
      - idMembers
      - idMembersVoted
      - idShort
      - idAttachmentCover
      - labels
      - limits
      - locationName
      - manualCoverAttachment
      - name
      - pos
      - shortLink
      - shortUrl
      - subscribed
      - url
      - cover
      - isTemplate
      description: The fields on a Card.
    Label_2:
      type: object
      properties:
        id:
          description: The ID of the label.
          type: string
          $ref: '#/components/schemas/TrelloID'
        idBoard:
          type: string
          description: The ID of the board the label is on.
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        name:
          type:
          - string
          - 'null'
          description: The name displayed for the label.
          example: Overdue
          minLength: 0
          maxLength: 16384
        color:
          type: string
          $ref: '#/components/schemas/Color'
          description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
    Attachment_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5bc79d4206526d2279c1e6ea
        bytes:
          type:
          - string
          - 'null'
          example: null
        date:
          type: string
          format: date
          example: '2018-10-17T19:10:14.808Z'
        edgeColor:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/Color'
          example: null
        idMember:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5bc79d4206526d2279c1e6eb
        isUpload:
          type: boolean
          example: false
        mimeType:
          type: string
          example: ''
        name:
          type: string
          example: Deprecation Extension Notice
        previews:
          type: array
          items:
            type: string
          example: []
        url:
          type: string
          format: url
          example: https://admin.typeform.com/form/RzExEM/share#/link
        pos:
          type: number
          format: float
          example: 1638
    CustomFieldItems:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        value:
          type: object
          properties:
            checked:
              type: string
              example: 'true'
        idCustomField:
          $ref: '#/components/schemas/TrelloID'
          example: 5b080fd8017bd1653b5480fa
        idModel:
          $ref: '#/components/schemas/TrelloID'
          example: 5b080ff194611b41aaaa9570
        modelType:
          type: string
          enum:
          - card
          - board
          - member
          example: card
    Action_2:
      type: object
      properties:
        id:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idMemberCreator:
          type: string
          $ref: '#/components/schemas/TrelloID'
        data:
          type: object
          properties:
            text:
              type: string
              example: Can never go wrong with bowie
            card:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Bowie
                idShort:
                  type: integer
                  example: 7
                shortLink:
                  type: string
                  example: 3CsPkqOF
            board:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Mullets
                shortLink:
                  type: string
                  example: 3CsPkqOF
            list:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Amazing
        type:
          type: string
          example: commentCard
        date:
          type: string
          format: date-time
          example: '2020-03-09T19:41:51.396Z'
        limits:
          type: object
          properties:
            reactions:
              type: object
              properties:
                perAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
                uniquePerAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
        display:
          type: object
          properties:
            translationKey:
              type: string
              example: action_comment_on_card
            entities:
              type: object
              properties:
                contextOn:
                  type: object
                  properties:
                    type:
                      type: string
                      example: translatable
                    translationKey:
                      type: string
                      example: action_on
                    hideIfContext:
                      type: boolean
                    idContext:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                card:
                  type: object
                  properties:
                    type:
                      type: string
                      example: card
                    hideIfContext:
                      type: boolean
                    id:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                    shortLink:
                      type: string
                      example: 3CsPkqOF
                    text:
                      type: string
                      example: Bowie
                comment:
                  type: object
                  properties:
                    type:
                      type: string
                      example: comment
                    text:
                      type: string
                      example: Can never go wrong with bowie
                memberCreator:
                  type: object
                  properties:
                    type:
                      type: string
                      example: member
                    id:
                      $ref: '#/components/schemas/TrelloID'
                    username:
                      type: string
                      example: bobloblaw
                    text:
                      type: string
                      example: Bob Loblaw (World)
        memberCreator:
          type: object
          properties:
            id:
              type: string
              $ref: '#/components/schemas/TrelloID'
              example: 5b02e7f4e1facdc393169f9d
            activityBlocked:
              type: boolean
              example: false
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
            fullName:
              type: string
              example: Bob Loblaw (Trello)
            idMemberReferrer:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
              example: null
            initials:
              type: string
              example: BL
            username:
              type: string
              example: bobloblaw
    Checklist_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    AttachmentFields:
      type: string
      enum:
      - id
      - bytes
      - date
      - edgeColor
      - idMember
      - isUpload
      - mimeType
      - name
      - previews
      - url
      - pos
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
