openapi: 3.1.0
info:
  title: Trello REST Actions Plugins API
  description: The Trello REST API provides programmatic access to Trello boards, lists, cards, members, labels, checklists, and other resources that make up the Trello project management platform. Developers can create, read, update, and delete Trello objects, manage team collaboration workflows, and automate task management processes. The API uses key and token based authentication and returns JSON responses for all endpoints.
  version: '1'
  contact:
    name: Atlassian Developer Support
    url: https://developer.atlassian.com/support
  termsOfService: https://www.atlassian.com/legal/cloud-terms-of-service
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
security:
- apiKey: []
  apiToken: []
tags:
- name: Plugins
  description: Operations for managing Power-Up plugins, including listing, updating, and creating plugin marketplace listings.
paths:
  /plugins/{id}:
    get:
      operationId: getPlugin
      summary: Get a Plugin
      description: Retrieves a Power-Up plugin by its identifier.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the plugin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
    put:
      operationId: updatePlugin
      summary: Update a Plugin
      description: Updates a Power-Up plugin's information.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully updated the plugin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
  /plugins/{id}/listings:
    post:
      operationId: createPluginListing
      summary: Create a Listing for a Plugin
      description: Creates a new marketplace listing for a Power-Up plugin.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description for the listing.
                locale:
                  type: string
                  description: The locale for the listing.
                overview:
                  type: string
                  description: The overview text for the listing.
                name:
                  type: string
                  description: The name for the listing.
      responses:
        '200':
          description: Successfully created the listing.
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
components:
  schemas:
    Plugin:
      type: object
      description: Represents a Power-Up plugin that extends Trello functionality.
      properties:
        id:
          type: string
          description: The unique identifier for the plugin.
        name:
          type: string
          description: The name of the plugin.
        public:
          type: boolean
          description: Whether the plugin is publicly available.
        url:
          type: string
          format: uri
          description: The URL for the plugin.
        capabilities:
          type: array
          description: The capabilities provided by the plugin.
          items:
            type: string
        idOrganizationOwner:
          type: string
          description: The ID of the organization that owns the plugin.
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
