openapi: 3.2.0
info:
  title: Trello Plugins API
  version: '1.0'
  description: 'Operations tagged Plugins across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Plugins
  description: Operations for managing Power-Up plugins, including listing, updating, and creating plugin marketplace listings.
paths:
  /plugins/{id}:
    get:
      operationId: getPlugin
      summary: Get a Plugin
      description: Retrieves a Power-Up plugin by its identifier.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the plugin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updatePlugin
      summary: Update a Plugin
      description: Updates a Power-Up plugin's information.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully updated the plugin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /plugins/{id}/listings:
    post:
      operationId: createPluginListing
      summary: Create a Listing for a Plugin
      description: Creates a new marketplace listing for a Power-Up plugin.
      tags:
      - Plugins
      parameters:
      - $ref: '#/components/parameters/idParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description for the listing.
                locale:
                  type: string
                  description: The locale for the listing.
                overview:
                  type: string
                  description: The overview text for the listing.
                name:
                  type: string
                  description: The name for the listing.
      responses:
        '200':
          description: Successfully created the listing.
        '401':
          description: Unauthorized.
        '404':
          description: Plugin not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /plugins/{id}/:
    get:
      tags:
      - Plugins
      summary: Get a Plugin
      description: Get plugins
      operationId: get-plugins-id
      security:
      - OAuth2:
        - read:organization:trello
      parameters:
      - name: id
        in: path
        description: The ID or name of the organization
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin_2'
    put:
      tags:
      - Plugins
      summary: Update a Plugin
      operationId: put-plugins-id
      security:
      - OAuth2:
        - read:organization:trello
        - write:organization:trello
      parameters:
      - name: id
        in: path
        description: The ID or name of the organization
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin_2'
    servers:
    - url: https://api.trello.com/1
  /plugins/{idPlugin}/listings:
    post:
      tags:
      - Plugins
      summary: Create a Listing for Plugin
      description: Create a new listing for a given locale for your Power-Up
      operationId: post-plugins-idplugin-listing
      security:
      - OAuth2:
        - write:organization:trello
      parameters:
      - name: idPlugin
        in: path
        description: The ID of the Power-Up for which you are creating a new listing.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description to show for the given locale
                locale:
                  type: string
                  description: The locale that this listing should be displayed for.
                overview:
                  type: string
                  description: The overview to show for the given locale.
                name:
                  type: string
                  description: The name to use for the given locale.
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginListing'
    servers:
    - url: https://api.trello.com/1
  /plugins/{id}/compliance/memberPrivacy:
    get:
      tags:
      - Plugins
      summary: Get Plugin's Member privacy compliance
      description: ''
      operationId: get-plugins-id-compliance-memberprivacy
      security:
      - OAuth2: []
      parameters:
      - name: id
        in: path
        description: The ID of the Power-Up
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /plugins/{idPlugin}/listings/{idListing}:
    put:
      tags:
      - Plugins
      summary: Updating Plugin's Listing
      description: Update an existing listing for your Power-Up
      operationId: put-plugins-idplugin-listings-idlisting
      security:
      - OAuth2:
        - write:organization:trello
      parameters:
      - name: idPlugin
        in: path
        description: The ID of the Power-Up whose listing is being updated.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idListing
        in: path
        description: The ID of the existing listing for the Power-Up that is being updated.
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description to show for the given locale
                locale:
                  type: string
                  description: The locale that this listing should be displayed for.
                overview:
                  type: string
                  description: The overview to show for the given locale.
                name:
                  type: string
                  description: The name to use for the given locale.
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginListing'
    servers:
    - url: https://api.trello.com/1
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  schemas:
    Plugin:
      type: object
      description: Represents a Power-Up plugin that extends Trello functionality.
      properties:
        id:
          type: string
          description: The unique identifier for the plugin.
        name:
          type: string
          description: The name of the plugin.
        public:
          type: boolean
          description: Whether the plugin is publicly available.
        url:
          type: string
          format: uri
          description: The URL for the plugin.
        capabilities:
          type: array
          description: The capabilities provided by the plugin.
          items:
            type: string
        idOrganizationOwner:
          type: string
          description: The ID of the organization that owns the plugin.
    Plugin_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    PluginListing:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
          example: 5a7cd2f8f99c517f58da1579
        name:
          type: string
          example: Attachment Section Example
        locale:
          type: string
          example: en-US
        description:
          type: string
          example: The [Glitch](https://glitch.com) Power-Up allows you to...
        overview:
          type: string
          example: ''
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
