openapi: 3.2.0
info:
  title: Trello Actions API
  version: '1.0'
  description: 'Operations tagged Actions across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Actions
  description: Operations for retrieving and managing actions, which represent activity events that occur on Trello objects such as boards, lists, and cards.
paths:
  /actions/{id}:
    get:
      operationId: getAction
      summary: Get an Action
      description: Retrieves a single action by its identifier. Actions represent events that have occurred on Trello objects.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          description: Unauthorized. Invalid or missing API key and token.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updateAction
      summary: Update an Action
      description: Updates the text of a comment action. Only comment actions can be updated.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: text
        in: query
        description: The new text for the comment action.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully updated the action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    delete:
      operationId: deleteAction
      summary: Delete an Action
      description: Deletes a comment action. Only comment actions can be deleted.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully deleted the action.
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the Action
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/{field}:
    get:
      operationId: getActionField
      summary: Get a specific field of an Action
      description: Retrieves a single field value from an action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: field
        in: path
        required: true
        description: The field to retrieve from the action.
        schema:
          type: string
          enum:
          - id
          - idMemberCreator
          - data
          - type
          - date
          - limits
          - display
          - memberCreator
      responses:
        '200':
          description: Successfully retrieved the field value.
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/board:
    get:
      operationId: getActionBoard
      summary: Get the Board for an Action
      description: Retrieves the board associated with a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/card:
    get:
      operationId: getActionCard
      summary: Get the Card for an Action
      description: Retrieves the card associated with a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/list:
    get:
      operationId: getActionList
      summary: Get the List for an Action
      description: Retrieves the list associated with a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrelloList'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/member:
    get:
      operationId: getActionMember
      summary: Get the Member of an Action
      description: Retrieves the member who was the subject of a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/memberCreator:
    get:
      operationId: getActionMemberCreator
      summary: Get the Member Creator of an Action
      description: Retrieves the member who created a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the member creator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/organization:
    get:
      operationId: getActionOrganization
      summary: Get the Organization for an Action
      description: Retrieves the organization (workspace) associated with a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/reactions:
    get:
      operationId: getActionReactions
      summary: List Reactions for an Action
      description: Retrieves all emoji reactions on a given action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the reactions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reaction'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    post:
      operationId: createActionReaction
      summary: Create a Reaction for an Action
      description: Adds an emoji reaction to an action.
      tags:
      - Actions
      parameters:
      - $ref: '#/components/parameters/idParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shortName:
                  type: string
                  description: The short name of the emoji to react with.
                skinVariation:
                  type: string
                  description: The skin variation of the emoji.
                native:
                  type: string
                  description: The native emoji character.
                unified:
                  type: string
                  description: The unified code of the emoji.
      responses:
        '200':
          description: Successfully created the reaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
        '401':
          description: Unauthorized.
        '404':
          description: Action not found.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /actions/{id}/text:
    put:
      tags:
      - Actions
      summary: Update a Comment Action
      description: Update a comment action
      operationId: put-actions-id-text
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The ID of the action to update
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: value
        in: query
        description: The new text for the comment
        required: true
        schema:
          type: string
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /actions/{idAction}/reactions:
    parameters:
    - name: idAction
      in: path
      description: The ID of the action
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Actions
      summary: Get Action's Reactions
      description: List reactions for an action
      operationId: get-actions-idaction-reactions
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: member
        in: query
        description: Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)
        required: false
        schema:
          type: boolean
          default: true
      - name: emoji
        in: query
        description: Whether to load the emoji as a nested resource.
        required: false
        schema:
          type: boolean
          default: true
      deprecated: false
      responses:
        '200':
          description: Success
    post:
      tags:
      - Actions
      summary: Create Reaction for Action
      description: Adds a new reaction to an action
      operationId: post-actions-idaction-reactions
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shortName:
                  type: string
                  description: The primary `shortName` of the emoji to add. See [/emoji](#emoji)
                skinVariation:
                  type: string
                  description: The `skinVariation` of the emoji to add. See [/emoji](#emoji)
                native:
                  type: string
                  description: The emoji to add as a native unicode emoji. See [/emoji](#emoji)
                unified:
                  type: string
                  description: The `unified` value of the emoji to add. See [/emoji](#emoji)
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /actions/{idAction}/reactions/{id}:
    parameters:
    - name: idAction
      in: path
      description: The ID of the Action
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    - name: id
      in: path
      description: The ID of the reaction
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    get:
      tags:
      - Actions
      summary: Get Action's Reaction
      description: Get information for a reaction
      operationId: get-actions-idaction-reactions-id
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: member
        in: query
        description: Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)
        required: false
        schema:
          type: boolean
          default: true
      - name: emoji
        in: query
        description: Whether to load the emoji as a nested resource.
        required: false
        schema:
          type: boolean
          default: true
      deprecated: false
      responses:
        '200':
          description: Success
    delete:
      tags:
      - Actions
      summary: Delete Action's Reaction
      description: Deletes a reaction
      operationId: delete-actions-idaction-reactions-id
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
  /actions/{idAction}/reactionsSummary:
    get:
      tags:
      - Actions
      summary: List Action's summary of Reactions
      description: List a summary of all reactions for an action
      operationId: get-actions-idaction-reactionsummary
      security:
      - OAuth2:
        - read:board:trello
      parameters:
      - name: idAction
        in: path
        description: The ID of the action
        required: true
        schema:
          $ref: '#/components/schemas/TrelloID'
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
components:
  schemas:
    Reaction:
      type: object
      description: Represents an emoji reaction on an action (comment).
      properties:
        id:
          type: string
          description: The unique identifier for the reaction.
        idMember:
          type: string
          description: The ID of the member who added the reaction.
        idModel:
          type: string
          description: The ID of the action the reaction is on.
        idEmoji:
          type: string
          description: The ID of the emoji.
        member:
          $ref: '#/components/schemas/Member'
        emoji:
          type: object
          description: The emoji details.
          properties:
            unified:
              type: string
            native:
              type: string
            name:
              type: string
            shortName:
              type: string
            skinVariation:
              type: string
    Membership:
      type: object
      description: Represents a membership record linking a member to a board or organization with a specific role.
      properties:
        id:
          type: string
          description: The unique identifier for the membership.
        idMember:
          type: string
          description: The ID of the member.
        memberType:
          type: string
          description: The type of membership.
          enum:
          - admin
          - normal
          - observer
        unconfirmed:
          type: boolean
          description: Whether the membership is unconfirmed.
        deactivated:
          type: boolean
          description: Whether the membership is deactivated.
    TrelloList:
      type: object
      description: Represents a list on a Trello board. Lists are vertical columns that contain cards and represent stages in a workflow.
      properties:
        id:
          type: string
          description: The unique identifier for the list.
        name:
          type: string
          description: The name of the list.
        closed:
          type: boolean
          description: Whether the list is closed (archived).
        idBoard:
          type: string
          description: The ID of the board the list belongs to.
        pos:
          type: number
          description: The position of the list on the board.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the list.
        softLimit:
          type: string
          description: A soft limit for the number of cards in the list.
    Member:
      type: object
      description: Represents a Trello user who can be a member of boards, organizations, and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the member.
        username:
          type: string
          description: The username of the member.
        fullName:
          type: string
          description: The full name of the member.
        initials:
          type: string
          description: The initials of the member.
        bio:
          type: string
          description: The biography of the member.
        avatarHash:
          type: string
          description: The hash of the member's avatar image.
        avatarUrl:
          type: string
          format: uri
          description: The URL of the member's avatar image.
        url:
          type: string
          format: uri
          description: The URL of the member's Trello profile.
        confirmed:
          type: boolean
          description: Whether the member's email has been confirmed.
        memberType:
          type: string
          description: The type of member account.
        status:
          type: string
          description: The activity status of the member.
        idOrganizations:
          type: array
          description: The IDs of organizations the member belongs to.
          items:
            type: string
        idBoards:
          type: array
          description: The IDs of boards the member has access to.
          items:
            type: string
    Board:
      type: object
      description: Represents a Trello board, which is the primary organizational unit containing lists and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the board.
        name:
          type: string
          description: The name of the board.
        desc:
          type: string
          description: The description of the board.
        descData:
          type: object
          description: Additional description data.
        closed:
          type: boolean
          description: Whether the board is closed (archived).
        idMemberCreator:
          type: string
          description: The ID of the member who created the board.
        idOrganization:
          type: string
          description: The ID of the organization the board belongs to.
        pinned:
          type: boolean
          description: Whether the board is pinned.
        url:
          type: string
          format: uri
          description: The full URL of the board.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the board.
        shortLink:
          type: string
          description: The short link identifier for the board.
        prefs:
          type: object
          description: Board preferences and settings.
          properties:
            permissionLevel:
              type: string
              enum:
              - org
              - private
              - public
            hideVotes:
              type: boolean
            voting:
              type: string
            comments:
              type: string
            selfJoin:
              type: boolean
            cardCovers:
              type: boolean
            cardAging:
              type: string
              enum:
              - pirate
              - regular
            background:
              type: string
            backgroundColor:
              type: string
            backgroundImage:
              type: string
            backgroundTile:
              type: boolean
            backgroundBrightness:
              type: string
        labelNames:
          type: object
          description: The names assigned to each label color on the board.
          properties:
            green:
              type: string
            yellow:
              type: string
            orange:
              type: string
            red:
              type: string
            purple:
              type: string
            blue:
              type: string
            sky:
              type: string
            lime:
              type: string
            pink:
              type: string
            black:
              type: string
        starred:
          type: boolean
          description: Whether the authenticated member has starred the board.
        memberships:
          type: array
          description: The board's membership records.
          items:
            $ref: '#/components/schemas/Membership'
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the board.
        dateLastView:
          type: string
          format: date-time
          description: The date and time the authenticated member last viewed the board.
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    Action:
      type: object
      description: Represents an activity event that occurred on a Trello object, such as creating a card, adding a comment, or moving a card between lists.
      properties:
        id:
          type: string
          description: The unique identifier for the action.
        idMemberCreator:
          type: string
          description: The ID of the member who performed the action.
        type:
          type: string
          description: The type of action that was performed.
        date:
          type: string
          format: date-time
          description: The date and time the action was performed.
        data:
          type: object
          description: Context data about the action, including references to the objects involved.
          properties:
            text:
              type: string
              description: The text content of the action, if applicable.
            board:
              type: object
              description: Reference to the board involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                shortLink:
                  type: string
            card:
              type: object
              description: Reference to the card involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
                idShort:
                  type: integer
                shortLink:
                  type: string
            list:
              type: object
              description: Reference to the list involved in the action.
              properties:
                id:
                  type: string
                name:
                  type: string
            old:
              type: object
              description: The previous values of fields that were changed.
        display:
          type: object
          description: Display information for rendering the action.
        memberCreator:
          $ref: '#/components/schemas/Member'
    Organization:
      type: object
      description: Represents a Trello organization (workspace), which is a group of members who share boards.
      properties:
        id:
          type: string
          description: The unique identifier for the organization.
        name:
          type: string
          description: The short name (URL-friendly slug) of the organization.
        displayName:
          type: string
          description: The display name of the organization.
        desc:
          type: string
          description: The description of the organization.
        url:
          type: string
          format: uri
          description: The URL of the organization.
        website:
          type: string
          format: uri
          description: The website of the organization.
        logoHash:
          type: string
          description: The hash of the organization's logo.
        products:
          type: array
          description: The product IDs associated with the organization.
          items:
            type: integer
        idBoards:
          type: array
          description: The IDs of boards in the organization.
          items:
            type: string
        memberships:
          type: array
          description: The membership records for the organization.
          items:
            $ref: '#/components/schemas/Membership'
    Card:
      type: object
      description: Represents a Trello card, which is the fundamental unit of work on a board. Cards live within lists and can have members, labels, checklists, attachments, due dates, and comments.
      properties:
        id:
          type: string
          description: The unique identifier for the card.
        name:
          type: string
          description: The name (title) of the card.
        desc:
          type: string
          description: The description of the card in Markdown.
        closed:
          type: boolean
          description: Whether the card is archived.
        idBoard:
          type: string
          description: The ID of the board the card is on.
        idList:
          type: string
          description: The ID of the list the card is in.
        idShort:
          type: integer
          description: The short numeric identifier for the card within its board.
        idMembers:
          type: array
          description: The IDs of members assigned to the card.
          items:
            type: string
        idLabels:
          type: array
          description: The IDs of labels on the card.
          items:
            type: string
        idChecklists:
          type: array
          description: The IDs of checklists on the card.
          items:
            type: string
        idAttachmentCover:
          type: string
          description: The ID of the attachment used as the card cover.
        pos:
          type: number
          description: The position of the card in its list.
        due:
          type: string
          format: date-time
          description: The due date for the card.
        dueComplete:
          type: boolean
          description: Whether the due date has been marked as complete.
        start:
          type: string
          format: date-time
          description: The start date for the card.
        url:
          type: string
          format: uri
          description: The full URL of the card.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the card.
        shortLink:
          type: string
          description: The short link identifier for the card.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the card.
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the card.
        cover:
          type: object
          description: The card's cover image settings.
          properties:
            idAttachment:
              type: string
            color:
              type: string
            idUploadedBackground:
              type: string
            size:
              type: string
              enum:
              - normal
              - full
            brightness:
              type: string
            idPlugin:
              type: string
        labels:
          type: array
          description: The labels on the card.
          items:
            $ref: '#/components/schemas/Label'
        badges:
          type: object
          description: Badge counts and indicators for the card.
          properties:
            votes:
              type: integer
            attachments:
              type: integer
            comments:
              type: integer
            checkItems:
              type: integer
            checkItemsChecked:
              type: integer
            description:
              type: boolean
            due:
              type: string
              format: date-time
            dueComplete:
              type: boolean
            subscribed:
              type: boolean
    CardAging:
      type: string
      enum:
      - pirate
      - regular
    Organization_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
        displayName:
          type: string
          example: Organization Name
        dateLastActivity:
          type: string
          format: date
          example: '2018-10-17T19:10:14.808Z'
        prefs:
          $ref: '#/components/schemas/OrganizationPrefs'
        idEnterprise:
          $ref: '#/components/schemas/TrelloID'
        offering:
          type: string
          example: trello.enterprise
        url:
          type: string
          format: url
          example: https://trello.com/w/<name>
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        premiumFeatures:
          type: array
          items:
            type: string
    Board_2:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the board.
          example: Trello Platform Changes
        desc:
          type: string
          example: Track changes to Trello's Platform on this board.
        descData:
          type: string
        closed:
          type: boolean
          example: false
        idMemberCreator:
          $ref: '#/components/schemas/TrelloID'
        idOrganization:
          $ref: '#/components/schemas/TrelloID'
        pinned:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ/trello-platform-changelog
        shortUrl:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ
        prefs:
          $ref: '#/components/schemas/Prefs'
        labelNames:
          type: object
          properties:
            green:
              type: string
              example: Addition
            yellow:
              type: string
              example: Update
            orange:
              type: string
              example: Deprecation
            red:
              type: string
              example: Deletion
            purple:
              type: string
              example: Power-Ups
            blue:
              type: string
              example: News
            sky:
              type: string
              example: Announcement
            lime:
              type: string
              example: Delight
            pink:
              type: string
              example: REST API
            black:
              type: string
              example: Capabilties
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        starred:
          type: boolean
        memberships:
          type: string
        shortLink:
          type: string
        subscribed:
          type: boolean
        powerUps:
          type: string
        dateLastActivity:
          type: string
          format: date
        dateLastView:
          type: string
          format: date
        idTags:
          type: string
        datePluginDisable:
          type:
          - string
          - 'null'
          format: date
        creationMethod:
          type:
          - string
          - 'null'
        ixUpdate:
          type: integer
        templateGallery:
          type:
          - string
          - 'null'
        enterpriseOwned:
          type: boolean
    ActionFields:
      type: string
      enum:
      - id
      - idMemberCreator
      - data
      - type
      - date
      - limits
      - display
      - memberCreator
    BoardFields:
      type: string
      enum:
      - id
      - name
      - desc
      - descData
      - closed
      - idMemberCreator
      - idOrganization
      - pinned
      - url
      - shortUrl
      - prefs
      - labelNames
      - starred
      - limits
      - memberships
      - enterpriseOwned
    ImageDescriptor:
      type: object
      properties:
        width:
          description: The width of the image.
          type: integer
          example: 100
        height:
          description: The height of the image.
          type: integer
          example: 64
        url:
          description: The URL of the image.
          format: url
          type: string
          example: https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg
    Prefs:
      type: object
      properties:
        permissionLevel:
          type: string
          enum:
          - org
          - board
        hideVotes:
          type: boolean
        voting:
          type: string
          enum:
          - disabled
          - enabled
        comments:
          type: string
        invitations:
          enum:
          - admins
          - members
        selfJoin:
          type: boolean
        cardCovers:
          type: boolean
        isTemplate:
          type: boolean
        cardAging:
          $ref: '#/components/schemas/CardAging'
        calendarFeedEnabled:
          type: boolean
        background:
          $ref: '#/components/schemas/TrelloID'
        backgroundImage:
          type: string
          format: uri
        backgroundImageScaled:
          type: array
          items:
            $ref: '#/components/schemas/ImageDescriptor'
        backgroundTile:
          type: boolean
        backgroundBrightness:
          type: string
          example: dark
        backgroundBottomColor:
          type: string
          example: '#1e2e00'
        backgroundTopColor:
          type: string
          example: '#ffffff'
        canBePublic:
          type: boolean
        canBeEnterprise:
          type: boolean
        canBeOrg:
          type: boolean
        canBePrivate:
          type: boolean
        canInvite:
          type: boolean
    LimitsObject:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - warning
        disableAt:
          type: number
          example: 36000
        warnAt:
          type: number
          example: 32400
    OrganizationPrefs:
      type: object
      properties:
        boardVisibilityRestrict:
          type: object
        boardDeleteRestrict:
          type: object
        attachmentRestrictions:
          type: array
          items:
            type: string
            enum:
            - computer
            - trello
            - google-drive
            - box
            - onedrive
            - link
        permissionLevel:
          type: string
          enum:
          - org
          - private
          - public
          - enterprise
          - domain
          example: private
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
    MemberFields:
      type: string
      enum:
      - id
    Checklist:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    Card_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        address:
          type:
          - string
          - 'null'
        badges:
          type: object
          properties:
            attachmentsByType:
              type: object
              properties:
                trello:
                  type: object
                  properties:
                    board:
                      type: number
                    card:
                      type: number
            location:
              type: boolean
            votes:
              type: integer
            viewingMemberVoted:
              type: boolean
              example: false
            subscribed:
              type: boolean
              example: false
            fogbugz:
              type: string
            checkItems:
              type: integer
              example: 0
            checkItemsChecked:
              type: integer
              example: 0
            comments:
              type: integer
              example: 0
            attachments:
              type: integer
              example: 0
            description:
              type: boolean
            due:
              type:
              - string
              - 'null'
              format: date
            start:
              type:
              - string
              - 'null'
              format: date
            dueComplete:
              type: boolean
        cardRole:
          type:
          - string
          - 'null'
          enum:
          - separator
          - board
          - mirror
          - link
          example: mirror
        checkItemStates:
          type: array
          items:
            oneOf:
            - type: string
        closed:
          type: boolean
        coordinates:
          type:
          - string
          - 'null'
        creationMethod:
          type:
          - string
          - 'null'
        dateLastActivity:
          type: string
          format: date-time
          example: '2019-09-16T16:19:17.156Z'
        desc:
          type: string
          example: '👋Hey there,


            Trello''s Platform team uses this board to keep developers up-to-date.'
        descData:
          type: object
          properties:
            emoji:
              type: object
        due:
          type:
          - string
          - 'null'
          format: date
        dueReminder:
          type:
          - string
          - 'null'
        idBoard:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        idChecklists:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Checklist'
            - $ref: '#/components/schemas/TrelloID'
        idLabels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Label_2'
            - $ref: '#/components/schemas/TrelloID'
        idList:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        idMembers:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idMembersVoted:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idShort:
          type: integer
        idAttachmentCover:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        labels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        locationName:
          type:
          - string
          - 'null'
        manualCoverAttachment:
          type: boolean
          example: false
        mirrorSourceId:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          example: 👋 What? Why? How?
        pos:
          type: number
          format: float
          example: 65535
        shortLink:
          type: string
          example: H0TZyzbK
        shortUrl:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK
        subscribed:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how
        cover:
          type: object
          properties:
            idAttachment:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
            color:
              $ref: '#/components/schemas/Color'
            idUploadedBackground:
              type:
              - boolean
              - 'null'
            size:
              type: string
              enum:
              - normal
            brightness:
              type: string
              enum:
              - light
              - dark
            isTemplate:
              type: boolean
              example: false
    ListFields:
      type: string
      enum:
      - id
    Limits:
      type: object
      properties:
        attachments:
          type: object
          properties:
            perBoard:
              type: object
              $ref: '#/components/schemas/LimitsObject'
    TrelloList_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the list
          example: Things to buy today
        closed:
          type: boolean
        pos:
          type: number
        softLimit:
          type: string
        idBoard:
          type: string
        subscribed:
          type: boolean
        limits:
          $ref: '#/components/schemas/Limits'
    Member_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        activityBlocked:
          type: boolean
          example: false
        avatarHash:
          type: string
          example: fc8faaaee46666a4eb8b626c08933e16
        avatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16
        bio:
          type: string
          example: 👋 I'm a developer advocate at Trello!
        bioData:
          type: object
          properties:
            emoji:
              type: object
        confirmed:
          type: boolean
          example: true
        fullName:
          type: string
          example: Bentley Cook
        idEnterprise:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idEnterprisesDeactivated:
          type: array
          items:
            type: string
        idMemberReferrer:
          $ref: '#/components/schemas/TrelloID'
          example: null
        idPremOrgsAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        initials:
          type: string
          example: BC
        memberType:
          type: string
          enum:
          - normal
          - ghost
          example: normal
        nonPublic:
          type: object
          description: 'Profile data with restricted visibility. These fields are visible only to members of the

            same organization. The values here (full name, for example) may differ from the values

            at the top level of the response.

            '
          properties:
            fullName:
              type: string
              example: Bentley Cook
            initials:
              type: string
              example: BC
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
              description: A URL that references the non-public avatar for the member
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
        nonPublicAvailable:
          type: boolean
          example: false
          description: Whether the response contains non-public profile data for the member
        products:
          type: array
          items:
            type: integer
        url:
          type: string
          format: url
          example: https://trello.com/bentleycook
        username:
          type: string
          example: bentleycook
        status:
          type: string
          enum:
          - disconnected
          example: disconnected
        aaEmail:
          type:
          - string
          - 'null'
          format: email
          example: null
        aaEnrolledDate:
          type:
          - string
          - 'null'
          example: null
        aaId:
          type:
          - string
          - 'null'
          example: null
        avatarSource:
          type: string
          enum:
          - gravatar
          - upload
          example: gravatar
        email:
          type: string
          example: bcook@atlassian.com
        gravatarHash:
          type: string
          example: 0a1e804f6e35a65ae5e1f7ef4c92471c
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idEnterprisesAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        limits:
          $ref: '#/components/schemas/LimitsObject'
        loginTypes:
          type: array
          items:
            type: string
            enum:
            - password
            - saml
            example: password
        marketingOptIn:
          type: object
          properties:
            optedIn:
              type: boolean
              example: false
            date:
              type: string
              format: date
              example: '2018-04-26T17:03:25.155Z'
        messagesDismissed:
          type: object
          properties:
            name:
              type: string
              example: ad-security-features
            count:
              type: string
              example: 4
            lastDismissed:
              type: string
              format: date
              example: '2019-03-11T20:19:46.809Z'
            _id:
              $ref: '#/components/schemas/TrelloID'
              example: 5995d44573d197eada632a32
        oneTimeMessagesDismissed:
          type: array
          items:
            type: string
        prefs:
          $ref: '#/components/schemas/MemberPrefs'
        trophies:
          type: array
          items:
            type: string
        uploadedAvatarHash:
          type: string
          example: dac3ad49ff117829dd63a79bb2ea3426
        uploadedAvatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426
        premiumFeatures:
          type: array
          items:
            type: string
        isAaMastered:
          type: boolean
          example: false
        ixUpdate:
          type: number
          example: '48427'
        idBoardsPinned:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TrelloID'
    CardFields:
      type: string
      enum:
      - id
      - address
      - badges
      - checkItemStates
      - closed
      - coordinates
      - creationMethod
      - dueComplete
      - dateLastActivity
      - desc
      - descData
      - due
      - dueReminder
      - idBoard
      - idChecklists
      - idLabels
      - idList
      - idMembers
      - idMembersVoted
      - idShort
      - idAttachmentCover
      - labels
      - limits
      - locationName
      - manualCoverAttachment
      - name
      - pos
      - shortLink
      - shortUrl
      - subscribed
      - url
      - cover
      - isTemplate
      description: The fields on a Card.
    Label_2:
      type: object
      properties:
        id:
          description: The ID of the label.
          type: string
          $ref: '#/components/schemas/TrelloID'
        idBoard:
          type: string
          description: The ID of the board the label is on.
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        name:
          type:
          - string
          - 'null'
          description: The name displayed for the label.
          example: Overdue
          minLength: 0
          maxLength: 16384
        color:
          type: string
          $ref: '#/components/schemas/Color'
          description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
    Action_2:
      type: object
      properties:
        id:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idMemberCreator:
          type: string
          $ref: '#/components/schemas/TrelloID'
        data:
          type: object
          properties:
            text:
              type: string
              example: Can never go wrong with bowie
            card:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Bowie
                idShort:
                  type: integer
                  example: 7
                shortLink:
                  type: string
                  example: 3CsPkqOF
            board:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Mullets
                shortLink:
                  type: string
                  example: 3CsPkqOF
            list:
              type: object
              properties:
                id:
                  type: string
                  $ref: '#/components/schemas/TrelloID'
                name:
                  type: string
                  example: Amazing
        type:
          type: string
          example: commentCard
        date:
          type: string
          format: date-time
          example: '2020-03-09T19:41:51.396Z'
        limits:
          type: object
          properties:
            reactions:
              type: object
              properties:
                perAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
                uniquePerAction:
                  type: object
                  properties:
                    status:
                      type: string
                      example: ok
                    disableAt:
                      type: number
                      example: 1000
                    warnAt:
                      type: number
                      example: 900
        display:
          type: object
          properties:
            translationKey:
              type: string
              example: action_comment_on_card
            entities:
              type: object
              properties:
                contextOn:
                  type: object
                  properties:
                    type:
                      type: string
                      example: translatable
                    translationKey:
                      type: string
                      example: action_on
                    hideIfContext:
                      type: boolean
                    idContext:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                card:
                  type: object
                  properties:
                    type:
                      type: string
                      example: card
                    hideIfContext:
                      type: boolean
                    id:
                      type: string
                      $ref: '#/components/schemas/TrelloID'
                    shortLink:
                      type: string
                      example: 3CsPkqOF
                    text:
                      type: string
                      example: Bowie
                comment:
                  type: object
                  properties:
                    type:
                      type: string
                      example: comment
                    text:
                      type: string
                      example: Can never go wrong with bowie
                memberCreator:
                  type: object
                  properties:
                    type:
                      type: string
                      example: member
                    id:
                      $ref: '#/components/schemas/TrelloID'
                    username:
                      type: string
                      example: bobloblaw
                    text:
                      type: string
                      example: Bob Loblaw (World)
        memberCreator:
          type: object
          properties:
            id:
              type: string
              $ref: '#/components/schemas/TrelloID'
              example: 5b02e7f4e1facdc393169f9d
            activityBlocked:
              type: boolean
              example: false
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
            fullName:
              type: string
              example: Bob Loblaw (Trello)
            idMemberReferrer:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
              example: null
            initials:
              type: string
              example: BL
            username:
              type: string
              example: bobloblaw
    MemberPrefs:
      type: object
      properties:
        timezoneInfo:
          type: object
          properties:
            offsetCurrent:
              type: integer
              example: 360
            timezoneCurrent:
              type: string
              example: CST
            offsetNext:
              type: integer
              example: 300
            dateNext:
              type: string
              format: date
              example: '2020-03-08T08:00:00.000Z'
            timezoneNext:
              type: string
              example: CDT
        privacy:
          type: object
          properties:
            fullName:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
            avatar:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
        sendSummaries:
          type: boolean
          example: true
        minutesBetweenSummaries:
          type: integer
          example: 60
        minutesBeforeDeadlineToNotify:
          type: integer
          example: 1440
        colorBlind:
          type: boolean
          example: true
        locale:
          type: string
          example: en-AU
        timezone:
          type: string
          example: America/Chicago
        twoFactor:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
            needsNewBackups:
              type: boolean
              example: false
    OrganizationFields:
      type: string
      enum:
      - id
      - name
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
