openapi: 3.2.0
info:
  title: Trello Search API
  version: '1.0'
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Search
  description: Operations for searching across Trello boards, cards, members, and organizations using query strings.
paths:
  /search:
    get:
      operationId: search
      summary: Search Trello
      description: Searches for Trello objects matching the provided query string across boards, cards, members, and organizations.
      tags:
      - Search
      parameters:
      - name: query
        in: query
        required: true
        description: The search query string.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: idBoards
        in: query
        description: A comma-separated list of board IDs to limit the search to.
        schema:
          type: string
      - name: idOrganizations
        in: query
        description: A comma-separated list of organization IDs to limit the search to.
        schema:
          type: string
      - name: idCards
        in: query
        description: A comma-separated list of card IDs to limit the search to.
        schema:
          type: string
      - name: modelTypes
        in: query
        description: A comma-separated list of model types to return. Valid values are actions, boards, cards, members, and organizations.
        schema:
          type: string
          default: all
      - name: board_fields
        in: query
        description: Board fields to return.
        schema:
          type: string
      - name: boards_limit
        in: query
        description: Maximum number of boards to return.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10
      - name: card_fields
        in: query
        description: Card fields to return.
        schema:
          type: string
      - name: cards_limit
        in: query
        description: Maximum number of cards to return.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10
      - name: cards_page
        in: query
        description: Page number of card results.
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: partial
        in: query
        description: Whether to return partial matches.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully returned search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '401':
          description: Unauthorized.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /search/members:
    get:
      operationId: searchMembers
      summary: Search Members
      description: Searches for Trello members matching the provided query string.
      tags:
      - Search
      parameters:
      - name: query
        in: query
        required: true
        description: The search query string.
        schema:
          type: string
          minLength: 1
          maxLength: 16384
      - name: limit
        in: query
        description: Maximum number of members to return.
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 8
      - name: idBoard
        in: query
        description: The ID of a board to limit the search to.
        schema:
          type: string
      - name: idOrganization
        in: query
        description: The ID of an organization to limit the search to.
        schema:
          type: string
      - name: onlyOrgMembers
        in: query
        description: Whether to limit results to members of the given organization.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully returned member search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /search/members/:
    get:
      tags:
      - Search
      summary: Search for Members
      description: Search for Trello members.
      operationId: get-search-members
      security:
      - OAuth2: []
      parameters:
      - name: query
        in: query
        description: Search query 1 to 16384 characters long
        required: true
        schema:
          type: string
          maxLength: 16394
          minLength: 1
      - name: limit
        in: query
        description: The maximum number of results to return. Maximum of 20.
        required: false
        schema:
          type: integer
          format: int32
          default: 8
          maximum: 20
      - name: idBoard
        in: query
        description: ''
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: idOrganization
        in: query
        description: ''
        required: false
        schema:
          $ref: '#/components/schemas/TrelloID'
      - name: onlyOrgMembers
        in: query
        description: ''
        required: false
        schema:
          type: boolean
          default: false
      deprecated: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member_2'
    servers:
    - url: https://api.trello.com/1
components:
  schemas:
    Membership:
      type: object
      description: Represents a membership record linking a member to a board or organization with a specific role.
      properties:
        id:
          type: string
          description: The unique identifier for the membership.
        idMember:
          type: string
          description: The ID of the member.
        memberType:
          type: string
          description: The type of membership.
          enum:
          - admin
          - normal
          - observer
        unconfirmed:
          type: boolean
          description: Whether the membership is unconfirmed.
        deactivated:
          type: boolean
          description: Whether the membership is deactivated.
    Member:
      type: object
      description: Represents a Trello user who can be a member of boards, organizations, and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the member.
        username:
          type: string
          description: The username of the member.
        fullName:
          type: string
          description: The full name of the member.
        initials:
          type: string
          description: The initials of the member.
        bio:
          type: string
          description: The biography of the member.
        avatarHash:
          type: string
          description: The hash of the member's avatar image.
        avatarUrl:
          type: string
          format: uri
          description: The URL of the member's avatar image.
        url:
          type: string
          format: uri
          description: The URL of the member's Trello profile.
        confirmed:
          type: boolean
          description: Whether the member's email has been confirmed.
        memberType:
          type: string
          description: The type of member account.
        status:
          type: string
          description: The activity status of the member.
        idOrganizations:
          type: array
          description: The IDs of organizations the member belongs to.
          items:
            type: string
        idBoards:
          type: array
          description: The IDs of boards the member has access to.
          items:
            type: string
    SearchResult:
      type: object
      description: Represents the results of a search query across Trello objects.
      properties:
        options:
          type: object
          description: The search options that were used.
          properties:
            terms:
              type: array
              items:
                type: object
            modifiers:
              type: array
              items:
                type: object
            modelTypes:
              type: array
              items:
                type: string
            partial:
              type: boolean
        boards:
          type: array
          description: Boards matching the search query.
          items:
            $ref: '#/components/schemas/Board'
        cards:
          type: array
          description: Cards matching the search query.
          items:
            $ref: '#/components/schemas/Card'
        members:
          type: array
          description: Members matching the search query.
          items:
            $ref: '#/components/schemas/Member'
        organizations:
          type: array
          description: Organizations matching the search query.
          items:
            $ref: '#/components/schemas/Organization'
    Board:
      type: object
      description: Represents a Trello board, which is the primary organizational unit containing lists and cards.
      properties:
        id:
          type: string
          description: The unique identifier for the board.
        name:
          type: string
          description: The name of the board.
        desc:
          type: string
          description: The description of the board.
        descData:
          type: object
          description: Additional description data.
        closed:
          type: boolean
          description: Whether the board is closed (archived).
        idMemberCreator:
          type: string
          description: The ID of the member who created the board.
        idOrganization:
          type: string
          description: The ID of the organization the board belongs to.
        pinned:
          type: boolean
          description: Whether the board is pinned.
        url:
          type: string
          format: uri
          description: The full URL of the board.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the board.
        shortLink:
          type: string
          description: The short link identifier for the board.
        prefs:
          type: object
          description: Board preferences and settings.
          properties:
            permissionLevel:
              type: string
              enum:
              - org
              - private
              - public
            hideVotes:
              type: boolean
            voting:
              type: string
            comments:
              type: string
            selfJoin:
              type: boolean
            cardCovers:
              type: boolean
            cardAging:
              type: string
              enum:
              - pirate
              - regular
            background:
              type: string
            backgroundColor:
              type: string
            backgroundImage:
              type: string
            backgroundTile:
              type: boolean
            backgroundBrightness:
              type: string
        labelNames:
          type: object
          description: The names assigned to each label color on the board.
          properties:
            green:
              type: string
            yellow:
              type: string
            orange:
              type: string
            red:
              type: string
            purple:
              type: string
            blue:
              type: string
            sky:
              type: string
            lime:
              type: string
            pink:
              type: string
            black:
              type: string
        starred:
          type: boolean
          description: Whether the authenticated member has starred the board.
        memberships:
          type: array
          description: The board's membership records.
          items:
            $ref: '#/components/schemas/Membership'
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the board.
        dateLastView:
          type: string
          format: date-time
          description: The date and time the authenticated member last viewed the board.
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    Organization:
      type: object
      description: Represents a Trello organization (workspace), which is a group of members who share boards.
      properties:
        id:
          type: string
          description: The unique identifier for the organization.
        name:
          type: string
          description: The short name (URL-friendly slug) of the organization.
        displayName:
          type: string
          description: The display name of the organization.
        desc:
          type: string
          description: The description of the organization.
        url:
          type: string
          format: uri
          description: The URL of the organization.
        website:
          type: string
          format: uri
          description: The website of the organization.
        logoHash:
          type: string
          description: The hash of the organization's logo.
        products:
          type: array
          description: The product IDs associated with the organization.
          items:
            type: integer
        idBoards:
          type: array
          description: The IDs of boards in the organization.
          items:
            type: string
        memberships:
          type: array
          description: The membership records for the organization.
          items:
            $ref: '#/components/schemas/Membership'
    Card:
      type: object
      description: Represents a Trello card, which is the fundamental unit of work on a board. Cards live within lists and can have members, labels, checklists, attachments, due dates, and comments.
      properties:
        id:
          type: string
          description: The unique identifier for the card.
        name:
          type: string
          description: The name (title) of the card.
        desc:
          type: string
          description: The description of the card in Markdown.
        closed:
          type: boolean
          description: Whether the card is archived.
        idBoard:
          type: string
          description: The ID of the board the card is on.
        idList:
          type: string
          description: The ID of the list the card is in.
        idShort:
          type: integer
          description: The short numeric identifier for the card within its board.
        idMembers:
          type: array
          description: The IDs of members assigned to the card.
          items:
            type: string
        idLabels:
          type: array
          description: The IDs of labels on the card.
          items:
            type: string
        idChecklists:
          type: array
          description: The IDs of checklists on the card.
          items:
            type: string
        idAttachmentCover:
          type: string
          description: The ID of the attachment used as the card cover.
        pos:
          type: number
          description: The position of the card in its list.
        due:
          type: string
          format: date-time
          description: The due date for the card.
        dueComplete:
          type: boolean
          description: Whether the due date has been marked as complete.
        start:
          type: string
          format: date-time
          description: The start date for the card.
        url:
          type: string
          format: uri
          description: The full URL of the card.
        shortUrl:
          type: string
          format: uri
          description: The short URL of the card.
        shortLink:
          type: string
          description: The short link identifier for the card.
        subscribed:
          type: boolean
          description: Whether the authenticated member is subscribed to the card.
        dateLastActivity:
          type: string
          format: date-time
          description: The date and time of the last activity on the card.
        cover:
          type: object
          description: The card's cover image settings.
          properties:
            idAttachment:
              type: string
            color:
              type: string
            idUploadedBackground:
              type: string
            size:
              type: string
              enum:
              - normal
              - full
            brightness:
              type: string
            idPlugin:
              type: string
        labels:
          type: array
          description: The labels on the card.
          items:
            $ref: '#/components/schemas/Label'
        badges:
          type: object
          description: Badge counts and indicators for the card.
          properties:
            votes:
              type: integer
            attachments:
              type: integer
            comments:
              type: integer
            checkItems:
              type: integer
            checkItemsChecked:
              type: integer
            description:
              type: boolean
            due:
              type: string
              format: date-time
            dueComplete:
              type: boolean
            subscribed:
              type: boolean
    ImageDescriptor:
      type: object
      properties:
        width:
          description: The width of the image.
          type: integer
          example: 100
        height:
          description: The height of the image.
          type: integer
          example: 64
        url:
          description: The URL of the image.
          format: url
          type: string
          example: https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg
    Prefs:
      type: object
      properties:
        permissionLevel:
          type: string
          enum:
          - org
          - board
        hideVotes:
          type: boolean
        voting:
          type: string
          enum:
          - disabled
          - enabled
        comments:
          type: string
        invitations:
          enum:
          - admins
          - members
        selfJoin:
          type: boolean
        cardCovers:
          type: boolean
        isTemplate:
          type: boolean
        cardAging:
          $ref: '#/components/schemas/CardAging'
        calendarFeedEnabled:
          type: boolean
        background:
          $ref: '#/components/schemas/TrelloID'
        backgroundImage:
          type: string
          format: uri
        backgroundImageScaled:
          type: array
          items:
            $ref: '#/components/schemas/ImageDescriptor'
        backgroundTile:
          type: boolean
        backgroundBrightness:
          type: string
          example: dark
        backgroundBottomColor:
          type: string
          example: '#1e2e00'
        backgroundTopColor:
          type: string
          example: '#ffffff'
        canBePublic:
          type: boolean
        canBeEnterprise:
          type: boolean
        canBeOrg:
          type: boolean
        canBePrivate:
          type: boolean
        canInvite:
          type: boolean
    Limits:
      type: object
      properties:
        attachments:
          type: object
          properties:
            perBoard:
              type: object
              $ref: '#/components/schemas/LimitsObject'
    LimitsObject:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - warning
        disableAt:
          type: number
          example: 36000
        warnAt:
          type: number
          example: 32400
    CardAging:
      type: string
      enum:
      - pirate
      - regular
    Board_2:
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          description: The name of the board.
          example: Trello Platform Changes
        desc:
          type: string
          example: Track changes to Trello's Platform on this board.
        descData:
          type: string
        closed:
          type: boolean
          example: false
        idMemberCreator:
          $ref: '#/components/schemas/TrelloID'
        idOrganization:
          $ref: '#/components/schemas/TrelloID'
        pinned:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ/trello-platform-changelog
        shortUrl:
          type: string
          format: url
          example: https://trello.com/b/dQHqCohZ
        prefs:
          $ref: '#/components/schemas/Prefs'
        labelNames:
          type: object
          properties:
            green:
              type: string
              example: Addition
            yellow:
              type: string
              example: Update
            orange:
              type: string
              example: Deprecation
            red:
              type: string
              example: Deletion
            purple:
              type: string
              example: Power-Ups
            blue:
              type: string
              example: News
            sky:
              type: string
              example: Announcement
            lime:
              type: string
              example: Delight
            pink:
              type: string
              example: REST API
            black:
              type: string
              example: Capabilties
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        starred:
          type: boolean
        memberships:
          type: string
        shortLink:
          type: string
        subscribed:
          type: boolean
        powerUps:
          type: string
        dateLastActivity:
          type: string
          format: date
        dateLastView:
          type: string
          format: date
        idTags:
          type: string
        datePluginDisable:
          type:
          - string
          - 'null'
          format: date
        creationMethod:
          type:
          - string
          - 'null'
        ixUpdate:
          type: integer
        templateGallery:
          type:
          - string
          - 'null'
        enterpriseOwned:
          type: boolean
    Member_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        activityBlocked:
          type: boolean
          example: false
        avatarHash:
          type: string
          example: fc8faaaee46666a4eb8b626c08933e16
        avatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16
        bio:
          type: string
          example: 👋 I'm a developer advocate at Trello!
        bioData:
          type: object
          properties:
            emoji:
              type: object
        confirmed:
          type: boolean
          example: true
        fullName:
          type: string
          example: Bentley Cook
        idEnterprise:
          type: string
          $ref: '#/components/schemas/TrelloID'
        idEnterprisesDeactivated:
          type: array
          items:
            type: string
        idMemberReferrer:
          $ref: '#/components/schemas/TrelloID'
          example: null
        idPremOrgsAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        initials:
          type: string
          example: BC
        memberType:
          type: string
          enum:
          - normal
          - ghost
          example: normal
        nonPublic:
          type: object
          description: 'Profile data with restricted visibility. These fields are visible only to members of the

            same organization. The values here (full name, for example) may differ from the values

            at the top level of the response.

            '
          properties:
            fullName:
              type: string
              example: Bentley Cook
            initials:
              type: string
              example: BC
            avatarUrl:
              type: string
              format: url
              example: https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45
              description: A URL that references the non-public avatar for the member
            avatarHash:
              type: string
              example: db2adf80c2e6c26b76e1f10400eb4c45
        nonPublicAvailable:
          type: boolean
          example: false
          description: Whether the response contains non-public profile data for the member
        products:
          type: array
          items:
            type: integer
        url:
          type: string
          format: url
          example: https://trello.com/bentleycook
        username:
          type: string
          example: bentleycook
        status:
          type: string
          enum:
          - disconnected
          example: disconnected
        aaEmail:
          type:
          - string
          - 'null'
          format: email
          example: null
        aaEnrolledDate:
          type:
          - string
          - 'null'
          example: null
        aaId:
          type:
          - string
          - 'null'
          example: null
        avatarSource:
          type: string
          enum:
          - gravatar
          - upload
          example: gravatar
        email:
          type: string
          example: bcook@atlassian.com
        gravatarHash:
          type: string
          example: 0a1e804f6e35a65ae5e1f7ef4c92471c
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        idEnterprisesAdmin:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        limits:
          $ref: '#/components/schemas/LimitsObject'
        loginTypes:
          type: array
          items:
            type: string
            enum:
            - password
            - saml
            example: password
        marketingOptIn:
          type: object
          properties:
            optedIn:
              type: boolean
              example: false
            date:
              type: string
              format: date
              example: '2018-04-26T17:03:25.155Z'
        messagesDismissed:
          type: object
          properties:
            name:
              type: string
              example: ad-security-features
            count:
              type: string
              example: 4
            lastDismissed:
              type: string
              format: date
              example: '2019-03-11T20:19:46.809Z'
            _id:
              $ref: '#/components/schemas/TrelloID'
              example: 5995d44573d197eada632a32
        oneTimeMessagesDismissed:
          type: array
          items:
            type: string
        prefs:
          $ref: '#/components/schemas/MemberPrefs'
        trophies:
          type: array
          items:
            type: string
        uploadedAvatarHash:
          type: string
          example: dac3ad49ff117829dd63a79bb2ea3426
        uploadedAvatarUrl:
          type: string
          format: url
          example: https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426
        premiumFeatures:
          type: array
          items:
            type: string
        isAaMastered:
          type: boolean
          example: false
        ixUpdate:
          type: number
          example: '48427'
        idBoardsPinned:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TrelloID'
    OrganizationPrefs:
      type: object
      properties:
        boardVisibilityRestrict:
          type: object
        boardDeleteRestrict:
          type: object
        attachmentRestrictions:
          type: array
          items:
            type: string
            enum:
            - computer
            - trello
            - google-drive
            - box
            - onedrive
            - link
        permissionLevel:
          type: string
          enum:
          - org
          - private
          - public
          - enterprise
          - domain
          example: private
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
    Label_2:
      type: object
      properties:
        id:
          description: The ID of the label.
          type: string
          $ref: '#/components/schemas/TrelloID'
        idBoard:
          type: string
          description: The ID of the board the label is on.
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        name:
          type:
          - string
          - 'null'
          description: The name displayed for the label.
          example: Overdue
          minLength: 0
          maxLength: 16384
        color:
          type: string
          $ref: '#/components/schemas/Color'
          description: The color of the label. Null means no color and the label will not be shown on the front of Cards.
    MemberPrefs:
      type: object
      properties:
        timezoneInfo:
          type: object
          properties:
            offsetCurrent:
              type: integer
              example: 360
            timezoneCurrent:
              type: string
              example: CST
            offsetNext:
              type: integer
              example: 300
            dateNext:
              type: string
              format: date
              example: '2020-03-08T08:00:00.000Z'
            timezoneNext:
              type: string
              example: CDT
        privacy:
          type: object
          properties:
            fullName:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
            avatar:
              type: string
              enum:
              - public
              - private
              - collaborator
              example: public
        sendSummaries:
          type: boolean
          example: true
        minutesBetweenSummaries:
          type: integer
          example: 60
        minutesBeforeDeadlineToNotify:
          type: integer
          example: 1440
        colorBlind:
          type: boolean
          example: true
        locale:
          type: string
          example: en-AU
        timezone:
          type: string
          example: America/Chicago
        twoFactor:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
            needsNewBackups:
              type: boolean
              example: false
    Checklist:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
    Organization_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
        displayName:
          type: string
          example: Organization Name
        dateLastActivity:
          type: string
          format: date
          example: '2018-10-17T19:10:14.808Z'
        prefs:
          $ref: '#/components/schemas/OrganizationPrefs'
        idEnterprise:
          $ref: '#/components/schemas/TrelloID'
        offering:
          type: string
          example: trello.enterprise
        url:
          type: string
          format: url
          example: https://trello.com/w/<name>
        idBoards:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        memberships:
          type: array
          items:
            $ref: '#/components/schemas/TrelloID'
        premiumFeatures:
          type: array
          items:
            type: string
    Card_2:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/TrelloID'
        address:
          type:
          - string
          - 'null'
        badges:
          type: object
          properties:
            attachmentsByType:
              type: object
              properties:
                trello:
                  type: object
                  properties:
                    board:
                      type: number
                    card:
                      type: number
            location:
              type: boolean
            votes:
              type: integer
            viewingMemberVoted:
              type: boolean
              example: false
            subscribed:
              type: boolean
              example: false
            fogbugz:
              type: string
            checkItems:
              type: integer
              example: 0
            checkItemsChecked:
              type: integer
              example: 0
            comments:
              type: integer
              example: 0
            attachments:
              type: integer
              example: 0
            description:
              type: boolean
            due:
              type:
              - string
              - 'null'
              format: date
            start:
              type:
              - string
              - 'null'
              format: date
            dueComplete:
              type: boolean
        cardRole:
          type:
          - string
          - 'null'
          enum:
          - separator
          - board
          - mirror
          - link
          example: mirror
        checkItemStates:
          type: array
          items:
            oneOf:
            - type: string
        closed:
          type: boolean
        coordinates:
          type:
          - string
          - 'null'
        creationMethod:
          type:
          - string
          - 'null'
        dateLastActivity:
          type: string
          format: date-time
          example: '2019-09-16T16:19:17.156Z'
        desc:
          type: string
          example: '👋Hey there,


            Trello''s Platform team uses this board to keep developers up-to-date.'
        descData:
          type: object
          properties:
            emoji:
              type: object
        due:
          type:
          - string
          - 'null'
          format: date
        dueReminder:
          type:
          - string
          - 'null'
        idBoard:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961414
        idChecklists:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Checklist'
            - $ref: '#/components/schemas/TrelloID'
        idLabels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Label_2'
            - $ref: '#/components/schemas/TrelloID'
        idList:
          type: string
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        idMembers:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idMembersVoted:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        idShort:
          type: integer
        idAttachmentCover:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
          example: 5abbe4b7ddc1b351ef961415
        labels:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TrelloID'
        limits:
          type: object
          $ref: '#/components/schemas/Limits'
        locationName:
          type:
          - string
          - 'null'
        manualCoverAttachment:
          type: boolean
          example: false
        mirrorSourceId:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/TrelloID'
        name:
          type: string
          example: 👋 What? Why? How?
        pos:
          type: number
          format: float
          example: 65535
        shortLink:
          type: string
          example: H0TZyzbK
        shortUrl:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK
        subscribed:
          type: boolean
          example: false
        url:
          type: string
          format: url
          example: https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how
        cover:
          type: object
          properties:
            idAttachment:
              type:
              - string
              - 'null'
              $ref: '#/components/schemas/TrelloID'
            color:
              $ref: '#/components/schemas/Color'
            idUploadedBackground:
              type:
              - boolean
              - 'null'
            size:
              type: string
              enum:
              - normal
            brightness:
              type: string
              enum:
              - light
              - dark
            isTemplate:
              type: boolean
              example: false
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
