openapi: 3.2.0
info:
  title: Trello Labels API
  version: '1.0'
  description: 'Operations tagged Labels across 2 of this provider''s published API definitions: trello-rest-api-openapi.yml, trello-rest-api-swagger-v3.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trello.com/1
  description: Trello API v1 Production Server
tags:
- name: Labels
  description: Operations for creating, retrieving, updating, and deleting labels on boards and cards.
paths:
  /labels:
    post:
      operationId: createLabel
      summary: Create a Label
      description: Creates a new label.
      tags:
      - Labels
      parameters:
      - name: name
        in: query
        required: true
        description: The name for the label.
        schema:
          type: string
      - name: color
        in: query
        required: true
        description: The color for the label.
        schema:
          type: string
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - 'null'
      - name: idBoard
        in: query
        required: true
        description: The ID of the board the label belongs to.
        schema:
          type: string
      responses:
        '200':
          description: Successfully created the label.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      security:
      - apiKey: []
        apiToken: []
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /labels/{id}:
    get:
      operationId: getLabel
      summary: Get a Label
      description: Retrieves a single label by its identifier.
      tags:
      - Labels
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully retrieved the label.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '401':
          description: Unauthorized.
        '404':
          description: Label not found.
      security:
      - apiKey: []
        apiToken: []
    put:
      operationId: updateLabel
      summary: Update a Label
      description: Updates a label's name and/or color.
      tags:
      - Labels
      parameters:
      - $ref: '#/components/parameters/idParam'
      - name: name
        in: query
        description: The new name for the label.
        schema:
          type: string
      - name: color
        in: query
        description: The new color for the label.
        schema:
          type: string
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - 'null'
      responses:
        '200':
          description: Successfully updated the label.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '401':
          description: Unauthorized.
        '404':
          description: Label not found.
      security:
      - apiKey: []
        apiToken: []
    delete:
      operationId: deleteLabel
      summary: Delete a Label
      description: Permanently deletes a label.
      tags:
      - Labels
      parameters:
      - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Successfully deleted the label.
        '401':
          description: Unauthorized.
        '404':
          description: Label not found.
      security:
      - apiKey: []
        apiToken: []
    parameters:
    - name: id
      in: path
      description: The ID of the Label
      required: true
      schema:
        $ref: '#/components/schemas/TrelloID'
    servers:
    - url: https://api.trello.com/1
      description: Trello API v1 Production Server
  /labels/{id}/{field}:
    put:
      tags:
      - Labels
      summary: Update a field on a label
      description: Update a field on a label.
      operationId: put-labels-id-field
      security:
      - OAuth2:
        - read:board:trello
        - write:board:trello
      parameters:
      - name: id
        in: path
        description: The id of the label
        required: true
        schema:
          type: string
      - name: field
        in: path
        description: The field on the Label to update.
        required: true
        schema:
          type: string
          enum:
          - color
          - name
      - name: value
        in: query
        description: The new value for the field.
        schema:
          $ref: '#/components/schemas/TrelloID'
        required: true
      deprecated: false
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.trello.com/1
components:
  parameters:
    idParam:
      name: id
      in: path
      required: true
      description: The ID of the resource.
      schema:
        type: string
  schemas:
    Label:
      type: object
      description: Represents a color-coded label that can be applied to cards for categorization and filtering.
      properties:
        id:
          type: string
          description: The unique identifier for the label.
        idBoard:
          type: string
          description: The ID of the board the label belongs to.
        name:
          type: string
          description: The name of the label.
        color:
          type: string
          description: The color of the label.
          enum:
          - yellow
          - purple
          - blue
          - red
          - green
          - orange
          - black
          - sky
          - pink
          - lime
          - null
    Color:
      type:
      - string
      - 'null'
      enum:
      - yellow
      - purple
      - blue
      - red
      - green
      - orange
      - black
      - sky
      - pink
      - lime
    TrelloID:
      type: string
      pattern: ^[0-9a-fA-F]{24}$
      example: 5abbe4b7ddc1b351ef961414
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Your Trello API key, obtained from the Power-Ups admin page at https://trello.com/power-ups/admin.
    apiToken:
      type: apiKey
      in: query
      name: token
      description: A user token that grants access to Trello resources. Obtained by authorizing via the /1/authorize route or OAuth 1.0.
    APIKey:
      type: apiKey
      in: query
      name: key
    APIToken:
      in: query
      name: token
      type: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atlassian.com/authorize
          tokenUrl: https://auth.atlassian.com/authorize/oauth/token
          scopes:
            read:board:trello: Read cards, lists, and comments in boards.
            write:board:trello: Create and update cards, lists, and comments in boards.
            write:board:membership:trello: Add, remove, or modify memberships on boards.
            read:organization:trello: Read workspaces.
            write:organization:trello: Update workspaces.
            write:organization:membership:trello: Add, remove, or modify memberships on workspaces.
            read:member:trello: Read email address, public name, public avatar, and memberships of boards, workspaces, and enterprises.
            write:member:trello: Upload custom emojis and stickers, star boards, and save searches.
            read:enterprise:trello: Read enterprises.
            write:enterprise:trello: Update and manage enterprises.
externalDocs:
  description: Trello REST API Documentation
  url: https://developer.atlassian.com/cloud/trello/rest/
x-refined-from:
- trello-rest-api-openapi.yml
- trello-rest-api-swagger-v3.json
